.main-search-cntnr{
    height: fit-content;
    width: fit-content;
    display: none;
    z-index: -1;
}

.main-search-bar-cntnr{
    height: 45px;
    min-width: 550px;
    color: #000;
    background-color: #fff;
    position: absolute;
    top: 30%;
    left: 35%;
}

.search-bar-option-cntnr{
    height: 45px;
    width: 32px;
}

.search-bar-option-fig{
    align-items: center;
    display:inline-flex;
    width: 32px;
    padding: 0 1px;
    position: relative;
    top: 8.5px;
    left: 4.5px;
}

.search-bar-option-img{
    height: 27px;
    width: 27px;
}

/* .main-taskbar-search-cntnr:hover{
    background-color: hsla(0,0%,30%,60%);
} */

