.main-search-cntnr{
    height: fit-content;
    width: fit-content;
    display: none;
    z-index: -1;
}

.main-search-bar-cntnr{
    display: inline-flex;
    height: 45px;
    min-width: 550px;
    color: #fff;
    background-color: rgba(41,41, 41, 0.75);
    backdrop-filter: blur(30px);
    position: absolute;
    top: 30%;
    left: 35%;
    border: 1px solid #fff;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
            0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.search-bar-option-cntnr{
    height: 45px;
    width: 32px;
}

.search-bar-option-fig{
    align-items: center;
    display:inline-flex;
    width: 32px;
    padding: 0 1px;
    position: relative;
    top: 8.5px;
    left: 4.5px;
}

.search-bar-option-img{
    height: 27px;
    width: 27px;
}

.search-bar-dropdwn-cntnr{
    height: 45px;
    width: 16px;
}

.search-bar-dropdwn-fig{
    align-items: center;
    display:inline-flex;
    height: 10px; 
    width: 10px;
    padding: 0 2px;
    position: relative;
    top: 8.5px;
    left: 2px;
}

.search-bar-dropdwn-img{
    height: 10px; 
    width: 10px;
}

 /*SearchBox Options Section*/

.main-search-options-cntnr{
    width: 200px;
    height: fit-content;
    backdrop-filter: blur(30px);
    z-index: 3;
    position: absolute;
    top: 34.6%;
    left: 35%;
    border: 1px solid #fff;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
            0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.li-file-tree-view{
    height: 40px;
    width: 198px;
}

.tree-view-cntnr{
    display: inline-flex;
    height: 40px;
    width: 198px;
}

.search-option-p{
    position: relative;
    top: 11px;
}

.search-option-head{
    padding-left: 8px;
    width: 35px;
    height: 40px;
}

.search-option-tail{
    padding: 0 1px;
    color: #fff;
    text-align: left;
    font-size: 13px;
    font-weight:200;
    width: 165px;
    height: 40px;
}

.search-option-figure{
    position: relative;
    align-items: center;
    /* display: inline-flex; */
    height: 17px;
    width: 17px;
    top: 12px;
}

.search-option-img{
    height: 17px;
    width: 17px;
    position: relative;
}

/*SearchBox Form Section*/

.search-bar-form-cntnr{
    position: relative;
    height: 40px;
    width: 490px;
    left: 6px;
    background-color: transparent;
}

.search-bar-form, .search-bar-textbox{
    margin: 0;
    width: 490px;
    height: 40px;
}

.search-bar-form{
    background-color: transparent;
}

.search-bar-textbox{
    position: relative;
    margin: 0;
    width: 490px;
    border: 1px solid #ccc;
    height: 26px;
    font-size: 13.5px;
    font-weight:normal;
    color: #fff;
    background-color: transparent;
    text-align: left;
    top: 8.5px;
 }

 .search-bar-textbox:hover,
 .search-bar-textbox:focus{
    border: 1px solid #fff;
 }

 /*SearchBox Result Window Section*/
.main-search-result-cntnr{
    display: flex;
    width: 550px;
    height: 380px;
    backdrop-filter: blur(30px);
    z-index: 3;
    position: absolute;
    top: 34.6%;
    left: 35%;
    border: 1px solid #fff;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
            0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.search-result-set-cntnr{
    display: block;
    position: relative;
    width: 250px;
    height: 378px;
    background-color: rgba(41,41, 41, 0.75);
    overflow-y: scroll;
    overflow-x: hidden;
}

/* For Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none; /* hides scrollbar */
}

.result-set-best-match-section,
.result-set-app-section,
.result-set-files-section,
.result-set-folders-section,
.result-set-others-section {
    display: block;
    padding: 10px 10px;
    height: fit-content;
    width: 246px;
}

.result-set-section-heading{
    max-width: 230px;
}

.section-heading-p{
    font-size: 13px;
    font-weight:bold;
    color: #fff;
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.result-set-section-body{
    max-width: 230px;
}

/*sdsdsd*/

.li-result-set-view{
    height: 30px;
    width: 226px;
    padding: 5px 0px;
}

.result-set-cntnr{
    display: inline-flex;
    height: 30px;
    width: 226px;
    padding: 3px 0px;
}

.result-set-cntnr:hover{
    background-color: #ccc;
}

.result-set-option-p{
    position: relative;
    width: 196px;
    top: 3px;
    overflow: hidden;         
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.result-set-option-head{
    padding-left: 2px;
    width: 30px;
    height: 30px;
}

.result-set-option-tail{
    padding: 0 1px;
    color: #fff;
    text-align: left;
    font-size: 13px;
    font-weight:normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 196px;
    height: 30px;
}

.result-set-option-figure{
    position: relative;
    align-items: center;
    /* display: inline-flex; */
    height: 24px;
    width: 24px;
    top: 0px;
}

.result-set-option-img{
    height: 24px;
    width: 24px;
    position: relative;
}

.search-result-detail-cntnr{
    position: relative;
    width: 300px;
    height: 378px;
    background-color: rgba(46,46, 46, 0.55);
}
