<div class="main-search-cntnr" #cheetahSearchDiv>
    <div class="main-search-bar-cntnr">
        <div class="search-bar-option-cntnr">
            <figure  class="search-bar-option-fig">
                <img class="search-bar-option-img" [src]="searchIcon">
            </figure>
        </div>

        <!-- <div class="search-bar-option-cntnr">
            <figure  class="taskbar-search-fig">
                <img class="taskbar-search-img" [src]="searchIcon">
            </figure>
        </div> -->

        <!-- <div class="search-bar-option-cntnr">

        </div> -->
    </div>

    <div class="main-search-content-cntnr">

    </div>
</div>
