.main-search-cntnr{
    height: fit-content;
    width: fit-content;
    display: none;              /* hidden until button click */
    flex-direction: column;     /* stack vertically */
    align-items: center;        /* center horizontally */
    gap: 5px;                  /* spacing between bar & results */
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%); 
    z-index: -1;                /* hidden by default */
    box-shadow: 0 5px 5px -3px rgba(0,0,0,0.2),
              0 8px 10px 1px rgba(0,0,0,0.14),
              0 3px 14px 2px rgba(0,0,0,0.12);
}

.main-search-bar-cntnr {
  display: flex;
  height: 45px;
  width: 580px;
  color: #fff;
  background-color: rgba(41,41,41,0.75);
  backdrop-filter: blur(30px);
  border: 0.5px solid #fff;
}

.search-bar-option-cntnr{
    height: 45px;
    width: 32px;
}

.search-bar-option-fig{
    align-items: center;
    display:inline-flex;
    width: 32px;
    padding: 0 1px;
    position: relative;
    top: 8.5px;
    left: 4.5px;
}

.search-bar-option-img{
    height: 27px;
    width: 27px;
}

.search-bar-dropdwn-cntnr{
    height: 45px;
    width: 16px;
}

.search-bar-dropdwn-fig{
    align-items: center;
    display:inline-flex;
    height: 10px; 
    width: 10px;
    padding: 0 2px;
    position: relative;
    top: 8.5px;
    left: 2px;
}

.search-bar-dropdwn-img{
    height: 10px; 
    width: 10px;
}

 /*SearchBox Options Section*/

.main-search-options-cntnr{
    width: 200px;
    height: fit-content;
    backdrop-filter: blur(30px);
    z-index: 3;
    position: absolute;
    top: 50px;
    left: 0px;
    border: 0.5px solid #fff;
}

.li-file-tree-view{
    height: 40px;
    width: 198px;
}

.tree-view-cntnr{
    display: inline-flex;
    height: 40px;
    width: 198px;
}

.search-option-p{
    position: relative;
    top: 11px;
}

.search-option-head{
    padding-left: 8px;
    width: 35px;
    height: 40px;
}

.search-option-tail{
    padding: 0 1px;
    color: #fff;
    text-align: left;
    font-size: 13px;
    font-weight:200;
    width: 165px;
    height: 40px;
}

.search-option-figure{
    position: relative;
    align-items: center;
    /* display: inline-flex; */
    height: 17px;
    width: 17px;
    top: 12px;
}

.search-option-img{
    height: 17px;
    width: 17px;
    position: relative;
}

/*SearchBox Form Section*/

.search-bar-form-cntnr{
    position: relative;
    height: 43px;
    width: 524px;
    left: 6px;
}

.search-bar-form {
    margin: 0;
    width: 524px;
    height: 43px;
}

.search-bar-form{
    background-color: transparent;
}

.search-bar-textbox{
    position: relative;
    margin: 0;
    width: 524px;
    height: 43px;
    font-size: 13.5px;
    font-weight:normal;
    color: #000;
    background-color: transparent;
    text-align: left;
    top: 0.5px;
 }

 .search-bar-textbox:hover,
 .search-bar-textbox:focus{
    background-color: #fff;
 }

 /*SearchBox Result Window Section*/
.main-search-result-cntnr {
  display: flex;
  width: 580px;
  height: 400px;
  backdrop-filter: blur(30px);
  border: 0.5px solid #fff;
}

.search-result-set-cntnr{
    display: block;
    position: relative;
    width: 260px;
    height: 399px;
    background-color: rgba(41,41, 41, 0.75);
    overflow-y: scroll;
    overflow-x: hidden;
}

/* For Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none; /* hides scrollbar */
}

.result-set-best-match-section,
.result-set-app-section,
.result-set-files-section,
.result-set-folders-section,
.result-set-others-section {
    display: block;
    padding: 10px 0px;
    height: fit-content;
    width: 260px;
}

.result-set-section-heading{
    max-width: 260px;
}

.section-heading-p{
    font-size: 13px;
    padding-left: 10px;
    font-weight:bold;
    color: #fff;
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.result-set-section-body{
    max-width: 260px;
}

.li-result-set-view, .li-result-set-view-br{
    height: fit-content;
    width: 260px;
    height: 30px;
    padding: 5px 0px;
}

.li-result-set-view-bm{
    height: 50px;
    padding-top: 4px;
}

.result-set-cntnr, .result-set-cntnr-bm{
    display: inline-flex;
    height: 30px;
    width: 260px;
}

.result-set-cntnr-bm{
    height: 50px;
}

.result-set-cntnr:hover{
    background-color: #ccc;
}

.result-set-cntnr-bm:hover{
    background-color: #ccc;
}

.result-set-option-p, .result-set-option-p1, .result-set-option-p-bm, .result-set-option-p-bm1{
    position: relative;
    width: 195px;
    top: 6px;
    overflow: hidden;         
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.result-set-option-p1, .result-set-option-p-bm1{
    top: 0px
}

.result-set-option-head, .result-set-option-head-bm{
    position: relative;
    padding-left: 10px;
    width: 40px;
    height: 30px;
}

.result-set-option-head-bm{
    height: 50px;
}

.result-set-option-mid, .result-set-option-mid-bm, .result-set-option-mid-bm1, .result-set-option-mid-bm2{
    padding: 0 1px;
    color: #fff;
    text-align: left;
    font-size: 13px;
    font-weight:normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    height: 30px;
}

.result-set-option-mid-bm{
    height: 50px;
}

.result-set-option-mid-bm1, .result-set-option-mid-bm2{
    position: absolute;
    top: 54px;
    left: 40px;
    height: 10px;
    font-size: 9px;
}

.result-set-option-mid-bm2{
    top: 68px;
}

.result-set-option-tail, .result-set-option-tail-bm{
    width: 20px;
    height: 30px;
    padding-right: 10px;
}

.result-set-option-figure{
    position: relative;
    align-items: center;
    /* display: inline-flex; */
    height: 24px;
    width: 24px;
    top: 3px;
}

.result-set-option-img{
    height: 24px;
    width: 24px;
    position: relative;
}

.result-set-arrow-figure{
    align-items: center;
    display:inline-flex;
    height: 10px; 
    width: 10px;
    /* padding: 0 2px; */
    position: relative;
    top: 3px;
}

.result-set-arrow-img{
    height: 10px; 
    width: 10px;
}


/*not found view*/
.li-result-set-view-nf{
    height: fit-content;
    width: 260px;
    height: 40px;
    padding: 2px 0px;
}

.result-set-cntnr-nf{

    display: inline-flex;
    height: 40px;
    width: 260px;
}

.result-set-cntnr-nf:hover{
    background-color: #ccc;
}

.result-set-option-p-nf{
    position: relative;
    left: 5px;
    width: 200px;
    top: 3px;
    overflow: hidden;         
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.result-set-option-head-nf{
    padding-left: 10px;
    width: 40px;
    height: 40px;
}

.result-set-option-tail-nf{
    padding: 0 1px;
    color: #fff;
    text-align: left;
    font-size: 12px;
    font-weight:normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    height: 40px;
}

.result-set-option-figure-nf{
    position: relative;
    align-items: center;
    /* display: inline-flex; */
    height: 30px;
    width: 30px;
    top: 0px;
}

.result-set-option-img-nf{
    height: 30px;
    width: 30px;
    position: relative;
}

.search-result-detail-cntnr{
    position: relative;
    width: 320px;
    height: 399px;
    background-color: rgba(46,46, 46, 0.55);
}

.search-result-detail-cntnt{
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px 10px;
    background-color: rgba(51, 51, 51, 0.35);
}

.search-result-detail-head-section{
    display: block;
    height: 110px;
    width: 300px;
}

.detail-head-icon-cntnr{
    width: 100%;
    height: fit-content;
}

.blank-space-a{
    width: 100%;
    height: 5px;
}

.blank-space-b{
    width: 100%;
    height: 10px;
}

.detail-head-icon-cntnr-figure{
    position: relative;
    align-items: center;
    /* display: inline-flex; */
    height: 50px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%); /* center horizontally across monitors */
}

.detail-head-icon-cntnr-img{
    height: 50px;
    width: 50px;
    position: relative;
}

.detail-head-filename-cntnr, .detail-head-filetype-cntnr{
    width: 100%;
    height: 20px;
    color: #fff;
    font-size: 14px;
    font-weight:normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.detail-head-filetype-cntnr{
    height: 15px;
    font-size: 10px;
}

.detail-head-filename-p, .detail-head-filetype-p{
    position: relative;
    width: 100%;
    top: 1px;
    overflow: hidden;         
    text-overflow: ellipsis; 
    white-space: nowrap;
    text-align: center;
}

.search-result-detail-mid-section, .search-result-detail-tail-section{
    display: block;
    height: fit-content;
    width: 300px;
}

.search-result-detail-mid-cntnr, .search-result-detail-tail-cntnr{
    width: 100%;
    padding: 10px 0px;
}

.search-result-detail-mid-cntnt, .search-result-detail-mid-cntnt1, .search-result-detail-tail-cntnt{
    display: inline-flex;
    width: 100%;
    /* border: 0.5px solid black; */
}

.search-result-detail-mid-cntnt1:hover{
    background-color: #ccc;
}

.search-result-detail-tail-cntnt:hover{
    background-color: #ccc;
}

.search-result-detail-tail-cntnt, .search-result-detail-mid-cntnt1{
    padding: 4px 0px;
}

.search-result-detail-mid-cntnt1{
    position: relative;
    top: 3px;
}

.search-result-detail-line-cntnr{
    position:relative;
    height: 1px;
    background-color: #ccc;
    color: #ccc;
    top: 1px;
}

.mid-cntnt-head{
    width: 26%;
}

.mid-cntnt-mid{
    min-width: 5%;
    padding: 0 4px;
}

.mid-cntnt-tail{
    width: 69%;
    padding-right: 4px;
}

.mid-cntnt-p0, .mid-cntnt-p, .mid-cntnt-p1{
    position: relative;
    top: 0%;
    color: #fff;
    font-size:11px;
    font-weight:normal;
    text-align: left;
    width: 190px;
}

.mid-cntnt-p0{
    word-wrap: break-word;
    -webkit-line-clamp:3;
}

.mid-cntnt-p{
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add "..." when text overflows */
}

.mid-cntnt-p1{
    top: 2px;
}

.mid-cntnt-head-1{
    padding-left: 4px;
    width: 20px;
    height: 20px;
}

.mid-cntnt-tail-1{
    position: relative;
    padding: 0 1px;
    color: #fff;
    text-align: left;
    font-size: 13px;
    font-weight:normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 196px;
    height: 20px;
    left: 10px;
}

.mid-cntnt-figure{
    position: relative;
    align-items: center;
    /* display: inline-flex; */
    height: 18px;
    width: 18px;
    top: 0px;
}

.mid-cntnt-img{
    height: 18px;
    width: 18px;
    position: relative;
}

.search-result-detail-tail-section{
    display: block;
    height: fit-content;
    width: fit-content;
}


 /*SearchBox Default Window Section*/
.main-search__default-cntnr {
  display: block;
  width: 580px;
  height: 400px;
  backdrop-filter: blur(30px);
  border: 0.5px solid #fff;
}

.main-search__default-cntnr-a{
    display: block;
    width: 579px;
    height: 125px;
}

.main-search__default-cntnr-b{
    display: flex;
    width: 579px;
    height: 275px;
}

.default__top-apps-cntnr{
    display: block;
    padding: 10px 10px 0px 10px;
    width: 100%;
    height: 125px;
    background-color: rgba(41,41, 41, 0.75);
}

.top-apps__heading{
    padding: 5px 0px;
    width: 100%;
    height: 20px;
}

.top-apps__heading-p{
    color: #fff;
    font-size:11px;
    font-weight:bold;
    text-align: left;
    width: 100%;
}

.top-apps__items{
    padding: 8px 0px;
    width: 100%;
    height: fit-content;
}

.ol-top-apps__grid{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns:  repeat(auto-fill, 105px);
    grid-template-rows: repeat(auto-fill, 74px);
    width: 100%;
    gap: 0px 8px;
}

.li-top-apps{
    justify-content: center;
    height: min-content;
}

.top-apps__item{
    display: block;
    height: 74px;
    width: 105px;
    /* background-color: rgba(72, 72, 75, 0.65); */
    background-color: rgba(68, 68, 68);
    border-radius: 3px;
}

.top-apps__figure{
    position: relative;
    align-items: center;
    height: 30px;
    width: 105px;
    top: 9px;
}

.top-apps__img{
    position: relative;
    height: 30px;
    width: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.top-apps__p{
    position: relative;
    color: #fff;
    font-size:11px;
    font-weight:normal;
    text-align: center;
    width: 100%;
    top: 14px;

    overflow: hidden;         
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.default__recents-cntnr{
    display: block;
    padding: 0px 10px;
    position: relative;
    width: 50%;
    height: 274px;
    background-color: rgba(41,41, 41, 0.75);
}

.default__recommends-cntnr{
    display: block;
    position: relative;
    padding: 0px 10px;
    width: 50%;
    height: 274px;
    background-color: rgba(41,41, 41, 0.75);
}

.recents__heading, .recommends__heading{
    padding: 5px 0px;
    width: 100%;
    height: 20px;
}

.recents__heading-p, .recommends__heading-p{
    color: #fff;
    font-size:11px;
    font-weight:bold;
    text-align: left;
    width: 100%;
}


/*recents and recommends view*/

.ol-recent__grid, .ol-recommend__grid{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns:  repeat(auto-fill, 268px);
    grid-template-rows: repeat(auto-fill, 45px);
    width: 100%;
    gap: 0px 0px;
}

.recent__items, .recommend__items{
    padding: 8px 0px;
    width: 100%;
    height: fit-content;
}

.li-recent__item, .li-recommend__item{
    width: 268px;
    height: 45px;
}

.li-recent__line{
    position:relative;
    height: 0.5px;
    background-color: #ccc;
    color: #ccc;
    top: 0px;
}

.recent__item-cntnr, .recommend__item-cntnr{
    display: inline-flex;
    height: 45px;
    width: 268px;
}

.li-recent__item:hover, .li-recommend__item:hover{
    background-color: #ccc;
}

.recent__item-p, .recommend__item-p{
    position: relative;
    left: 14px;
    width: 220px;
    top: 14px;
    overflow: hidden;         
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.recent__item-head, .recommend__item-head{
    padding-left: 10px;
    width: 43px;
    height: 45px;
}

.recent__item-tail, .recommend__item-tail{
    padding: 0 1px;
    color: #fff;
    text-align: left;
    font-size: 12px;
    font-weight:normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 220px;
    height: 45px;
}

.recent__item-figure, .recommend__item-figure{
    position: relative;
    align-items: center;
    height: 34px;
    width: 34px;
    top: 6px;
}

.recent__item-img, .recommend__item-img{
    height: 34px;
    width: 34px;
    position: relative;
}