.cheetah-main-container{
    font-size: 1rem;
    text-align: center;
    height: fit-content;
    width: fit-content;
}

.cheetah-body-container{
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
}

.cheetah-div{
    width: 100%;
}
.os-info{
    height: 100%;
    width: 100%;
    padding:8px 8px 4px 8px;
}

.os-image{
    width: 626px;
    height: 235px;
    margin-inline: auto;
}

.os-name{
    font-size: 30px;
    text-align: center;
    color: #000;
}

.os-version{
    font-size: 15px;
    text-align: center;
    color: #000;
}

.os-year{
    font-size: 12px;
    text-align: center;
    color: #000;
}
