<div ngDraggable [handle]="leftHS1"  class="cheetah-main-container">
    <div class="cheetah-header-container" tabindex="0">
        <div #leftHS1 class="cheetah-left-header-section">
            <h1 class="cheetah-h1">
                <figure class="cheetah-figure">
                    <img class="cheetah-img" [src]="icon" />
                    <figcaption class="cheetah-figcaption"> {{name}} </figcaption>
                </figure>
            </h1>
        </div>
        <div class="cheetah-right-header-section">
            <nav class="cheetah-nav">
                <button class="cheetah-button" id="closeBtn" appHighlight (click)="onClosePropertyView()"  title="Close" >
                    <svg class="cheetah-svg" width="10" viewBox="0 0 10 10">
                        <path d="M10.2.7L9.5 0 5.1 4.4.7 0 0 .7l4.4 4.4L0 9.5l.7.7 4.4-4.4 4.4 4.4.7-.7-4.4-4.4z" fill = "#FFFFF"/>
                    </svg>
                </button>
            </nav>
        </div>
    </div>
    <div class="cheetah-body-container">
        <div class="os-info"> 
            <div class="os-image">
                <img [src]="cheetahIcon" />
            </div>
            <div> <p class="os-name">{{name}}</p> </div>
            <div> <p class="os-version"> {{version}}</p></div>
            <div> <p class="os-year">{{year}}</p></div>
        </div>
    </div>
</div>