
<ng-container [ngTemplateOutlet]=" (isFolderOptions) ? folderOptionsView :
                                   (isFile && !isInRecycleBin) ? fileView : 
                                   (!isFile && !isInRecycleBin && !isRootFolder) ? folderView :
                                   (!isFile && !isInRecycleBin && isRootFolder) ? rootFolderView : deletedView">
</ng-container>

<ng-template #fileView>
    <cos-secondarywindow [runningProcessID]="this.processId" [processAppIcon]="this.icon" [processAppName]="this.displayMsg" (click)="setPropertyWindowToFocus(this.processId)">
        <div class="properties-main-container item-properties-main" id="propDisplay-{{processId}}">
            <div class="properties-body-container item-properties-body">
                <div class="item-properties-top-space"></div>
                <div class="properties-header-tab-container item-properties-tabs">
                    <div class="properties-header-tabs">
                        <div class="properties-tab active">General</div>
                    </div>

                    <div class="properties-header-tab-content-container item-properties-content">
                        <div class="properties-tab-pane active">
                            <div class="item-properties-container">
                                <div class="item-properties-identity">
                                    <img class="item-properties-icon" [src]="iconPath" alt="">
                                    <div class="item-properties-name" title="{{name}}">{{name}}</div>
                                </div>

                                <div class="item-properties-divider"></div>

                                <div class="item-properties-section">
                                    <div class="item-properties-row">
                                        <span class="item-properties-label">Type of file:</span>
                                        <span class="item-properties-value">{{fileInput.getFileExtension}}</span>
                                    </div>
                                    <div class="item-properties-row">
                                        <span class="item-properties-label">Opens with:</span>
                                        <div class="item-properties-value item-properties-app">
                                            <img *ngIf="fileInput.getFileExtension === URL" class="item-properties-app-icon" [src]="icon" alt="">
                                            <span>{{opensWith}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="item-properties-divider"></div>

                                <div class="item-properties-section">
                                    <div class="item-properties-row">
                                        <span class="item-properties-label">Location:</span>
                                        <span class="item-properties-value" title="{{location}}">{{location}}</span>
                                    </div>
                                    <div class="item-properties-row">
                                        <span class="item-properties-label">Size:</span>
                                        <span class="item-properties-value">{{fileSize}} {{fileSizeUnit}} ({{fileSize2 | number:'1.0-2'}} bytes)</span>
                                    </div>
                                    <div class="item-properties-row">
                                        <span class="item-properties-label">Size on disk:</span>
                                        <span class="item-properties-value">{{fileSizeOnDisk}} {{fileSizeUnit}} ({{fileSizeOnDisk2 | number:'1.0-2'}} bytes)</span>
                                    </div>
                                </div>

                                <div class="item-properties-divider"></div>

                                <div class="item-properties-section">
                                    <div class="item-properties-row">
                                        <span class="item-properties-label">Created:</span>
                                        <span class="item-properties-value">{{createdfileDate | date: 'EEE, MMM dd, yyyy, HH:mm.ss a'}}</span>
                                    </div>
                                    <div class="item-properties-row">
                                        <span class="item-properties-label">Modified:</span>
                                        <span class="item-properties-value">{{modifiedfileDate | date: 'EEE, MMM dd, yyyy, HH:mm.ss a'}}</span>
                                    </div>
                                    <div class="item-properties-row">
                                        <span class="item-properties-label">Accessed:</span>
                                        <span class="item-properties-value">{{accessedfileDate | date: 'EEE, MMM dd, yyyy, HH:mm.ss a'}}</span>
                                    </div>
                                </div>

                                <div class="item-properties-fill"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="properties-footer-container item-properties-footer">
                <span class="footer-btn">
                    <button class="btn btn-primary accent" (click)="onClosePropertyView()">OK</button>
                </span>
            </div>
        </div>
    </cos-secondarywindow>
</ng-template>


<ng-template #folderView>
    <cos-secondarywindow [runningProcessID]="this.processId" [processAppIcon]="this.icon" [processAppName]="this.displayMsg" (click)="setPropertyWindowToFocus(this.processId)">
        <div class="properties-main-container item-properties-main" id="propDisplay-{{processId}}">
            <div class="properties-body-container item-properties-body">
                <div class="item-properties-top-space"></div>
                <div class="properties-header-tab-container item-properties-tabs">
                    <div class="properties-header-tabs">
                        <div class="properties-tab active">General</div>
                    </div>

                    <div class="properties-header-tab-content-container item-properties-content">
                        <div class="properties-tab-pane active">
                            <div class="item-properties-container">
                                <div class="item-properties-identity">
                                    <img class="item-properties-icon" [src]="iconPath" alt="">
                                    <div class="item-properties-name" title="{{name}}">{{name}}</div>
                                </div>

                                <div class="item-properties-divider"></div>

                                <div class="item-properties-section">
                                    <div class="item-properties-row">
                                        <span class="item-properties-label">Type:</span>
                                        <span class="item-properties-value">{{fileFolder}}</span>
                                    </div>
                                    <div class="item-properties-row">
                                        <span class="item-properties-label">Location:</span>
                                        <span class="item-properties-value" title="{{location}}">{{location}}</span>
                                    </div>
                                    <div class="item-properties-row">
                                        <span class="item-properties-label">Size:</span>
                                        <span class="item-properties-value">{{fileSize}} {{fileSizeUnit}} ({{fileSize2 | number:'1.0-2'}} bytes)</span>
                                    </div>
                                    <div class="item-properties-row">
                                        <span class="item-properties-label">Size on disk:</span>
                                        <span class="item-properties-value">{{fileSizeOnDisk}} {{fileSizeUnit}} ({{fileSizeOnDisk2 | number:'1.0-2'}} bytes)</span>
                                    </div>
                                    <div class="item-properties-row">
                                        <span class="item-properties-label">Contains:</span>
                                        <span class="item-properties-value">{{contains}}</span>
                                    </div>
                                </div>

                                <div class="item-properties-divider"></div>

                                <div class="item-properties-section">
                                    <div class="item-properties-row">
                                        <span class="item-properties-label">Created:</span>
                                        <span class="item-properties-value">{{createdfileDate | date: 'EEE, MMM dd, yyyy, HH:mm.ss a'}}</span>
                                    </div>
                                </div>

                                <div class="item-properties-fill"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="properties-footer-container item-properties-footer">
                <span class="footer-btn">
                    <button class="btn btn-primary accent" (click)="onClosePropertyView()">OK</button>
                </span>
            </div>
        </div>
    </cos-secondarywindow>
</ng-template>

<ng-template #rootFolderView>
    <cos-secondarywindow [runningProcessID]="this.processId" [processAppIcon]="this.icon" [processAppName]="this.displayMsg" (click)="setPropertyWindowToFocus(this.processId)">
        <div class="properties-main-container item-properties-main" id="propDisplay-{{processId}}">
            <div class="properties-body-container item-properties-body">
                <div class="item-properties-top-space"></div>
                <div class="properties-header-tab-container item-properties-tabs">
                    <div class="properties-header-tabs">
                        <div class="properties-tab active">General</div>
                    </div>

                    <div class="properties-header-tab-content-container item-properties-content">
                        <div class="properties-tab-pane active">
                            <div class="item-properties-container drive-properties-container">
                                <div class="item-properties-identity">
                                    <img class="item-properties-icon" [src]="iconPath" alt="">
                                    <div class="item-properties-name" title="{{osDisk}}">{{osDisk}}</div>
                                </div>

                                <div class="item-properties-divider"></div>

                                <div class="item-properties-section">
                                    <div class="item-properties-row">
                                        <span class="item-properties-label">Type:</span>
                                        <span class="item-properties-value">{{fileFolder}}</span>
                                    </div>
                                    <div class="item-properties-row">
                                        <span class="item-properties-label">File system:</span>
                                        <span class="item-properties-value" title="{{location}}">{{location}}</span>
                                    </div>
                                </div>

                                <div class="item-properties-divider"></div>

                                <div class="drive-space-table">
                                    <div class="drive-space-row">
                                        <span class="drive-space-label"><span class="drive-space-swatch used"></span>Used space:</span>
                                        <span class="drive-space-bytes">{{fileSizeOnDisk2 | number:'1.0-2'}} bytes</span>
                                        <span class="drive-space-readable">{{fileSizeOnDisk}} {{fileSizeUnit}}</span>
                                    </div>
                                    <div class="drive-space-row">
                                        <span class="drive-space-label"><span class="drive-space-swatch free"></span>Free space:</span>
                                        <span class="drive-space-bytes">{{availableSpace | number:'1.0-2'}} bytes</span>
                                        <span class="drive-space-readable">{{availableSpace2}} {{availableSpaceUnit}}</span>
                                    </div>
                                </div>

                                <div class="item-properties-divider"></div>

                                <div class="drive-space-table">
                                    <div class="drive-space-row">
                                        <span class="drive-space-label drive-space-label--capacity">Capacity:</span>
                                        <span class="drive-space-bytes">{{capacity | number:'1.0-2'}} bytes</span>
                                        <span class="drive-space-readable">{{capacity2}} {{capacityUnit}}</span>
                                    </div>
                                </div>

                                <div class="drive-chart">
                                    <svg class="drive-chart-svg" viewBox="0 0 100 100" role="img" aria-label="Drive storage usage">
                                        <circle cx="50" cy="50" [attr.r]="35" fill="none" stroke="#acacac" [attr.stroke-width]="15"></circle>
                                        <circle cx="50" cy="50" [attr.r]="35" fill="none" stroke="#2da6da" [attr.stroke-width]="15"
                                                [attr.stroke-dasharray]="circumference" [attr.stroke-dashoffset]="strokeDashoffset"
                                                stroke-linecap="square" transform="rotate(-90 50 50)"></circle>
                                    </svg>
                                    <span class="drive-chart-caption">Drive C:</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="properties-footer-container item-properties-footer">
                <span class="footer-btn">
                    <button class="btn btn-primary accent" (click)="onClosePropertyView()">OK</button>
                </span>
            </div>
        </div>
    </cos-secondarywindow>
</ng-template>

<ng-template #deletedView>
    <cos-secondarywindow [runningProcessID]="this.processId" [processAppIcon]="this.icon" [processAppName]="this.displayMsg" (click)="setPropertyWindowToFocus(this.processId)">
        <div class="properties-main-container item-properties-main" id="propDisplay-{{processId}}">
            <div class="properties-body-container item-properties-body">
                <div class="item-properties-top-space"></div>
                <div class="properties-header-tab-container item-properties-tabs">
                    <div class="properties-header-tabs">
                        <div class="properties-tab active">General</div>
                    </div>

                    <div class="properties-header-tab-content-container item-properties-content">
                        <div class="properties-tab-pane active">
                            <div class="item-properties-container">
                                <div class="item-properties-identity">
                                    <img class="item-properties-icon" [src]="iconPath" alt="">
                                    <div class="item-properties-name item-properties-name--plain" title="{{name}}">{{name}}</div>
                                </div>

                                <div class="item-properties-divider"></div>

                                <div class="item-properties-section">
                                    <div class="item-properties-row">
                                        <span class="item-properties-label">Type:</span>
                                        <span class="item-properties-value">{{fileFolder}}</span>
                                    </div>
                                    <div class="item-properties-row">
                                        <span class="item-properties-label">Origin:</span>
                                        <span class="item-properties-value" title="{{origin}}">{{origin}}</span>
                                    </div>
                                    <div class="item-properties-row">
                                        <span class="item-properties-label">Size:</span>
                                        <span class="item-properties-value">{{fileSize}} {{fileSizeUnit}}</span>
                                    </div>
                                </div>

                                <div class="item-properties-divider"></div>

                                <div class="item-properties-section">
                                    <div class="item-properties-row">
                                        <span class="item-properties-label">Deleted:</span>
                                        <span class="item-properties-value">{{modifiedfileDate | date: 'EEE, MMM dd, yyyy, HH:mm.ss a'}}</span>
                                    </div>
                                    <div class="item-properties-row">
                                        <span class="item-properties-label">Created:</span>
                                        <span class="item-properties-value">{{createdfileDate | date: 'EEE, MMM dd, yyyy, HH:mm.ss a'}}</span>
                                    </div>
                                </div>

                                <div class="item-properties-fill"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="properties-footer-container item-properties-footer">
                <span class="footer-btn">
                    <button class="btn btn-primary accent" (click)="onClosePropertyView()">OK</button>
                </span>
            </div>
        </div>
    </cos-secondarywindow>
</ng-template>


<ng-template #folderOptionsView>
    <cos-secondarywindow [runningProcessID]="this.processId" [processAppIcon]="this.icon" [processAppName]="this.displayMsg" (click)="setPropertyWindowToFocus(this.processId)">
        <div class="properties-main-container folder-options-main" id="propDisplay-{{processId}}">
            <div class="properties-body-container folder-options-body">
                <div class="folder-options-top-space"></div>
                <div class="properties-header-tab-container folder-options-tabs">
                    <div class="properties-header-tabs" role="tablist" aria-label="File Explorer Options">
                        <div class="properties-tab active" role="tab" aria-selected="true">General</div>
                    </div>

                    <div class="properties-header-tab-content-container folder-options-content">
                        <div class="properties-tab-pane active">
                            <div class="folder-options-container">

                                <!-- Open File Explorer to -->
                                <div class="fo-open-row">
                                    <p class="fo-inline-label">Open File Explorer to:</p>
                                    <select class="fo-select" (change)="onOpenFileExplorerToChange($event)">
                                        <option [value]="openToQuickAccess" [selected]="openFileExplorerTo === openToQuickAccess">{{openToQuickAccess}}</option>
                                        <option [value]="openToThisPc" [selected]="openFileExplorerTo === openToThisPc">{{openToThisPc}}</option>
                                    </select>
                                </div>

                                <!-- Browse folders -->
                                <fieldset class="fo-group">
                                    <legend>Browse folders</legend>
                                    <div class="fo-group-layout">
                                        <img class="fo-section-img" [src]="openInIconState" alt="">
                                        <div class="fo-section-body">
                                            <label class="fo-option">
                                                <input type="radio" name="fo-browse-folders"
                                                       [checked]="openFolderInSameWindow"
                                                       (change)="onBrowseFoldersChange(true)">
                                                <span>Open each folder in the same window</span>
                                            </label>
                                            <label class="fo-option">
                                                <input type="radio" name="fo-browse-folders"
                                                       [checked]="!openFolderInSameWindow"
                                                       (change)="onBrowseFoldersChange(false)">
                                                <span>Open each folder in its own window</span>
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>

                                <!-- Hidden files and folders -->
                                <fieldset class="fo-group">
                                    <legend>Hidden files and folders</legend>
                                    <div class="fo-group-layout">
                                        <img class="fo-section-img" [src]="hideShowIcon" alt="">
                                        <div class="fo-section-body">
                                            <label class="fo-option">
                                                <input type="radio" name="fo-hidden-files"
                                                       [checked]="!showHiddenFilesAndFolders"
                                                       (change)="onHiddenFilesChange(false)">
                                                <span>Don't show hidden files or folders</span>
                                            </label>
                                            <label class="fo-option">
                                                <input type="radio" name="fo-hidden-files"
                                                       [checked]="showHiddenFilesAndFolders"
                                                       (change)="onHiddenFilesChange(true)">
                                                <span>Show hidden files and folders</span>
                                            </label>
                                            <label class="fo-option">
                                                <input type="checkbox"
                                                       [checked]="showFileExtensions"
                                                       (change)="onToggleShowFileExtensions()">
                                                <span>Show file extensions</span>
                                            </label>
                                            <label class="fo-option">
                                                <input type="checkbox"
                                                       [checked]="displayFullPathInTitleBar"
                                                       (change)="onToggleDisplayFullPath()">
                                                <span>Display the full path in the title bar</span>
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>

                                <!-- Privacy -->
                                <fieldset class="fo-group fo-group--privacy">
                                    <legend>Privacy</legend>
                                    <div class="fo-group-layout">
                                        <img class="fo-section-img" [src]="quickAccessHistoryIcon" alt="">
                                        <div class="fo-section-body">
                                            <label class="fo-option">
                                                <input type="checkbox"
                                                       [checked]="showRecentlyUsedFiles"
                                                       (change)="onToggleRecentlyUsedFiles()">
                                                <span>Show recently used files in Quick access</span>
                                            </label>
                                            <label class="fo-option">
                                                <input type="checkbox"
                                                       [checked]="showFrequentlyUsedFolders"
                                                       (change)="onToggleFrequentlyUsedFolders()">
                                                <span>Show frequently used folders in Quick access</span>
                                            </label>
                                            <div class="fo-clear-row">
                                                <span>Clear File Explorer history</span>
                                                <button type="button" class="fo-button fo-clear-btn" (click)="onClearFileExplorerHistory()">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="properties-footer-container folder-options-footer">
                <span class="footer-btn">
                    <button class="btn btn-primary accent" (click)="onClosePropertyView()" >
                     OK
                    </button>
                </span>
            </div>
        </div>
    </cos-secondarywindow>
</ng-template>

