<cos-window [runningProcessID]="this.processId" [processAppIcon]="this.icon" [processAppName]="this.name" [isMaximizable]="this.isMaximizable" [priorUId]="this.priorUId">
    <div class="settings-main__container" (contextmenu)="focusWindow($event)" (click)="focusWindow($event)">

        <ng-container [ngTemplateOutlet]="  DEFAULT_VIEW === HOME_VIEW ? homeView:
                                            DEFAULT_VIEW === SYSTEM_VIEW ? systemView:
                                            DEFAULT_VIEW === APPS_VIEW ? applicationView: personalizationView">
        </ng-container>

        <ng-template #homeView>
            <div class="home-main__container">
                <div class="home-main__heading-container">
                    <p class="home-main__heading-p">Cheetah Settings</p>
                </div>
                <div class="home-search__container">
                    <div class="search-bar__form-cntnr">
                        <form [formGroup]="searchBarForm"  class="search-bar__form">
                             <input
                                appKeyPressCapture
                                class="search-bar__textbox"
                                placeholder="{{searchPlaceHolder}}"
                                formControlName="searchBarText"
                             
                                autofocus ="false" 
                                spellcheck="false"
                                autocomplete="off"
                                autocapitalize="off"
                                id="searchBarTxtBox"
                            />
                        </form> 
                    </div>
                </div>
                <div class="home-search__empty-container"></div>
                <div class="home-view__items">
                    <ol class="ol-home-view__grid">
                        <li class="li-home-view" *ngFor="let cpOption of settingsOptions; let i = index">
                            <div class="home-view__item" role="button" (click)="handleSettingsPanelSelection(cpOption[1], $event)" >
                                <div class="home-view__item-img">
                                    <figure class="home-view__figure">
                                        <img class="home-view__img" [src]="cpOption[0]" />
                                    </figure>
                                </div>
                                <div class="home-view__item-text">
                                    <div>
                                        <p class="home-view__heading-p">{{ cpOption[1] }}</p>
                                    </div>
                                    <div>
                                        <p class="home-view__sub-heading-p">{{ cpOption[2] }}</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>

            </div>
        </ng-template>

        <ng-template #systemView>
            <div class="system-option__panel">
                <div class="system-option__first">
                    <div class="secondary-search__empty-container"></div>
                    <div class="fixed-home-option__item-cntnr" 
                        (click)="handleMenuSelection(HOME_HOME, -1, $event, HOME_VIEW)">
                        <div class="fixed-home-option__item-head">
                            <div class="item-head__indication" ></div>
                            <figure class="fixed-home-option__item-figure">
                                <img class="fixed-home-option__item-img" [src]="homeImg" />
                            </figure>
                        </div>
                        <div class="fixed-home-option__item-tail">
                            <p class="fixed-home-option__item-p">{{ HOME_HOME }}</p>
                        </div>
                    </div>
        
                    <div class="secondary-search__container">
                        <div class="secondary-search-bar__form-cntnr">
                            <form [formGroup]="searchBarForm"  class="secondary-search-bar__form">
                                    <input
                                    appKeyPressCapture
                                    class="secondary-search-bar__textbox"
                                    placeholder="{{searchPlaceHolder}}"
                                    formControlName="searchBarText"
                                    
                                    autofocus ="false" 
                                    spellcheck="false"
                                    autocomplete="off"
                                    autocapitalize="off"
                                    id="searchBarTxtBox"
                                />
                            </form> 
                        </div>
                    </div>

                    <div class="system-option__first-text">  
                        <p class="system-option__first-p"> System </p>
                    </div>
                    <div class="secondary-search__empty-container"></div>
                </div>
                <ol class="ol-system-option__grid">
                    <li class="li-system-option__item" *ngFor="let option of systemOptions; let i = index">
                        <div class="system-option__item-cntnr" 
                            (click)="handleMenuSelection(option[1], i, $event, SYSTEM_VIEW)">
                            
                            <div class="system-option__item-head">
                                <div class="item-head__indication"   [class.active]="i === selectedIdx"></div>
                                <figure class="system-option__item-figure">
                                    <img class="system-option__item-img" [src]="option[0]" />
                                </figure>
                            </div>
    
                            <div class="system-option__item-tail">
                                <p class="system-option__item-p">{{ option[1] }}</p>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
    
            <div class="system-view__panel" >
                <ng-container [ngTemplateOutlet]="selectedSystemOption === SYSTEM_SCREEN ? screenView:
                                                  selectedSystemOption === SYSTEM_NOTIFICATION ? notificationView:
                                                  selectedSystemOption === SYSTEM_STORAGE ? storageView:
                                                  selectedSystemOption === SYSTEM_CLIPBOARD ? clipboardView: aboutView">
                </ng-container>
    
                <ng-template #screenView>
    
                </ng-template>
    
                <ng-template #notificationView>
    
                </ng-template>
    
                <ng-template #storageView>
    
                </ng-template>
    
                <ng-template #clipboardView>
                    <div class="system-view__clipboard-container"> 
    
                        <div class="clipboard-block__content">
                            <div class="clipboard-block__heading">
                                <p class="clipboard-block-heading__p">Clipboard</p>
                            </div>
    
                            <div class="clipboard-block__text">
                                <p class="clipboard-block-text__p"> {{clipboardText}} </p>
                            </div>
                        </div>
    
                        <div class="clipboard-block__content">
                            <div class="clipboard-block__heading">
                                <p class="clipboard-block-heading1__p">Clipboard history</p>
                            </div>
    
                            <div class="clipboard-block__text">
                                <p class="clipboard-block-text__p"> {{clipboardHisotryText}} </p>
                            </div>
                        </div>
    
                        <div class="clipboard-block__content">
                            <div class="clipboard-block__button">
                                <label class="system-btn__toggle">
                                    <input type="checkbox" [(ngModel)]="isSaveClipboardHistory" (change)="saveUnSaveClipBoardHisotry()">
                                    <span class="system-btn__slider"></span>
                                </label>
    
                                <div class="clipboard-button__text">
                                    <p class="clipboard-button-text__p"> {{clipboardSaveStateText}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
    
                <ng-template #aboutView>
    
                </ng-template>
            </div>
        </ng-template>

        <ng-template #personalizationView>
            <div class="personalization-option__panel">
                <div class="personalization-option__first">
                    <div class="secondary-search__empty-container"></div>
                    <div class="fixed-home-option__item-cntnr" 
                        (click)="handleMenuSelection(HOME_HOME, -1, $event, HOME_VIEW)">
                        <div class="fixed-home-option__item-head">
                            <div class="item-head__indication" ></div>
                            <figure class="fixed-home-option__item-figure">
                                <img class="fixed-home-option__item-img" [src]="homeImg" />
                            </figure>
                        </div>
                        <div class="fixed-home-option__item-tail">
                            <p class="fixed-home-option__item-p">{{ HOME_HOME }}</p>
                        </div>
                    </div>
        
                    <div class="secondary-search__container">
                        <div class="secondary-search-bar__form-cntnr">
                            <form [formGroup]="searchBarForm"  class="secondary-search-bar__form">
                                    <input
                                    appKeyPressCapture
                                    class="secondary-search-bar__textbox"
                                    placeholder="{{searchPlaceHolder}}"
                                    formControlName="searchBarText"
                                    
                                    autofocus ="false" 
                                    spellcheck="false"
                                    autocomplete="off"
                                    autocapitalize="off"
                                    id="searchBarTxtBox"
                                />
                            </form> 
                        </div>
                    </div>

                    <div class="personalization-option__first-text">  
                        <p class="personalization-option__first-p"> Personalization </p>
                    </div>
                    <div class="secondary-search__empty-container"></div>
                </div>
                <ol class="ol-personalization-option__grid">
                    <li class="li-personalization-option__item" *ngFor="let option of personalizationOptions; let i = index">
                        <div class="personalization-option__item-cntnr" 
                            (click)="handleMenuSelection(option[1], i, $event, PERSONALIZATION_VIEW)">
                            
                            <div class="personalization-option__item-head">
                                <div class="item-head__indication"   [class.active]="i === selectedIdx"></div>
                                <figure class="personalization-option__item-figure">
                                    <img class="personalization-option__item-img" [src]="option[0]" />
                                </figure>
                            </div>
    
                            <div class="personalization-option__item-tail">
                                <p class="personalization-option__item-p">{{ option[1] }}</p>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
    
            <div class="personalization-view__panel" >
                <ng-container [ngTemplateOutlet]="selectedPersonalizationOption === PERSONALIZATION_DESKTOP_BACKGROUND ? dsktpBackgroundView:
                                                  selectedPersonalizationOption === PERSONALIZATION_LOCKSCREEN ? lockScreenView: taskBarView">
                </ng-container>
    
                <ng-template #dsktpBackgroundView>
                    <div class="personalization-view__desktop-container">
                        <div class="desktop-block-heading desktop-heading-fixed">
                            <p class="desktop-block-heading__p"> Desktop</p>
                        </div>

                        <div class="desktop-preview__container"  (click)="shhhh($event)"  id="desktop_Preview"> 
                            <!-- Desktop Img comes here -->
                        </div>

                        <div class="desktop-block-content">
                            <div class="desktop-block__text">
                                <p class="desktop-block-miniheading__p"> Background</p>
                            </div>

                            <div class="desktop-block-content">
                                <div class="desktop-background-dropdown" (click)="toggleDesktopBkgrndDropdown($event)" [class.open]="isDesktopBkgrndDropDownOpen">
                                    <div class="desktop-background-dropdown__selected">
                                      {{ desktopBkgrndOption|| 'Select background' }}
                                    </div>
                                  
                                    <span class="desktop-background-dropdown__icon">
                                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path 
                                          d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192
                                             c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7
                                             86.6 169.4c-12.5-12.5-32.8-12.5-45.3
                                             0s-12.5 32.8 0 45.3l192 192z" />
                                      </svg>
                                    </span>
                                  
                                    <ul class="desktop-background-dropdown__menu" *ngIf="isDesktopBkgrndDropDownOpen">
                                      <li  *ngFor="let option of desktopBackgroundOptions"  (click)="handleDropDownChoiceAndSetBkgrnd(option, $event)"
                                        [class.selected]="option.label === desktopBkgrndOption">
                                        {{ option.label }}
                                      </li>
                                    </ul>
                                  </div>
                            </div>
                        </div>

                        <ng-container [ngTemplateOutlet]="desktopBkgrndOption === DESKTOP_BACKGROUND_PICTURE || desktopBkgrndOption === DESKTOP_BACKGROUND_DYNAMIC ? desktopPictureView:
                                                          desktopBkgrndOption === DESKTOP_BACKGROUND_SOLID_COLOR ? desktopSolidColorView: desktopSlideShow">
                        </ng-container>

                        <ng-template #desktopPictureView>
                            <div class="desktop-block-content">
                                <div class="desktop-block__text">
                                    <p class="desktop-block-miniheading__p"> Choose your picture</p>
                                </div>
                                
                                <div class="desktop-picture__block">
                                    <ol class="ol-desktop-picture__grid">
                                        <li class="li-desktop-picture-color" *ngFor="let option of desktopPictureOptions; let i = index">
                                            <div class="desktop-picture__item" 
                                                role="button" 
                                                (click)="handleScreenPictureAndColorSelection(option, $event)" >
                                                <img [src]="option"/>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template #desktopSolidColorView>
                            <div class="desktop-block-content">
                                <div class="desktop-block__text">
                                    <p class="desktop-block-miniheading__p"> Choose you background color</p>
                                </div>
                                
                                <div class="desktop-solid-color__block">
                                    <ol class="ol-desktop-solid-color__grid">
                                        <li class="li-desktop-solid-color" *ngFor="let option of colorOptions; let i = index">
                                            <div class="desktop-solid-color__item" 
                                                role="button" 
                                                [style]="{'background-color': option}" 
                                                (click)="handleScreenPictureAndColorSelection(option, $event)" >
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template #desktopSlideShow></ng-template>

                    </div>
                </ng-template>
    
                <ng-template #lockScreenView>
                    <div class="personalization-view__lockscreen-container">
                        <div class="lockscreen-block-heading lockscreen-heading-fixed">
                            <p class="lockscreen-block-heading__p"> Lock screen</p>
                        </div>

                        <div class="lockscreen-block-heading">
                            <p class="lockscreen-block-subheading__p"> Preview</p>
                        </div>

                        <div class="lockscreen-preview__container"  (click)="shhhh($event)"  id="lockScreen_Preview"> 
                            <!-- New Additional Container -->
                            <div class="lockscreen-preview__datetime-container">
                        
                                <div class="lockscreen-preview__space"></div>
                        
                                <div class="lockscreen-preview__time-section">
                                    <p class="lockscreen-preview__time-p">{{ currentTime }}</p>
                                </div>
                        
                                <div class="lockscreen-preview__date-section">
                                    <p class="lockscreen-preview__date-p">{{ currentDate }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="lockscreen-block-content">
                            <div class="lockscreen-block__text">
                                <p class="lockscreen-block-miniheading__p"> Background</p>
                            </div>

                            <div class="lockscreen-block-content">
                                <div class="lockscreen-background-dropdown" (click)="toggleLockScreenBkgrndDropdown($event)" [class.open]="isLockScreenBkgrndDropDownOpen">
                                    <div class="lockscreen-background-dropdown__selected">
                                      {{ lockScreenBkgrndOption|| 'Select background' }}
                                    </div>
                                  
                                    <span class="lockscreen-background-dropdown__icon">
                                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path 
                                          d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192
                                             c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7
                                             86.6 169.4c-12.5-12.5-32.8-12.5-45.3
                                             0s-12.5 32.8 0 45.3l192 192z" />
                                      </svg>
                                    </span>
                                  
                                    <ul class="lockscreen-background-dropdown__menu" *ngIf="isLockScreenBkgrndDropDownOpen">
                                      <li  *ngFor="let option of lockScreenBackgroundOptions"  (click)="handleDropDownChoiceAndSetBkgrnd(option, $event)"
                                        [class.selected]="option.label === lockScreenBkgrndOption">
                                        {{ option.label }}
                                      </li>
                                    </ul>
                                  </div>
                            </div>
                        </div>

                        <!-- <div class="lockscreen-empty-container"></div> -->

                        <ng-container [ngTemplateOutlet]="lockScreenBkgrndOption === LOCKSCREEN_BACKGROUND_PICTURE ? lockScreenPictureView:
                                                          lockScreenBkgrndOption === LOCKSCREEN_BACKGROUND_SOLID_COLOR ? lockScreenSolidColorView: lockScreenMirrorView">
                        </ng-container>

                        <ng-template #lockScreenPictureView>
                            <div class="lockscreen-block-content">
                                <div class="lockscreen-block__text">
                                    <p class="lockscreen-block-miniheading__p"> Choose your picture</p>
                                </div>
                                
                                <div class="lockscreen-picture__block">
                                    <ol class="ol-lockscreen-picture__grid">
                                        <li class="li-lockscreen-picture-color" *ngFor="let option of lockScreenPictureOptions; let i = index">
                                            <div class="lockscreen-picture__item" 
                                                role="button" 
                                                (click)="handleScreenPictureAndColorSelection(option, $event)" >
                                                <img [src]="option"/>

                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template #lockScreenSolidColorView>
                            <div class="lockscreen-block-content">
                                <div class="lockscreen-block__text">
                                    <p class="lockscreen-block-miniheading__p"> Choose you background color</p>
                                </div>
                                
                                <div class="lockscreen-solid-color__block">
                                    <ol class="ol-lockscreen-solid-color__grid">
                                        <li class="li-lockscreen-solid-color" *ngFor="let option of colorOptions; let i = index">
                                            <div class="lockscreen-solid-color__item" 
                                                role="button" 
                                                [style]="{'background-color': option}" 
                                                (click)="handleScreenPictureAndColorSelection(option, $event)" >
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template #lockScreenMirrorView> </ng-template>

                        <div class="lockscreen-block-content">
                            <div class="lockscreen-block__text">
                                <p class="lockscreen-block-miniheading__p"> Screen timeout</p>
                            </div>

                            <div class="lockscreen-block-content">
                                <div class="lockscreen-timeout-dropdown" (click)="toggleLockScreenTimeOutDropdown($event)" [class.open]="isLockScreenTimeoutDropDownOpen">
                                    <div class="lockscreen-timeout-dropdown__selected">
                                      {{ lockScreenTimeoutOption || 'Select background' }}
                                    </div>
                                  
                                    <span class="lockscreen-timeout-dropdown__icon">
                                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path 
                                          d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192
                                             c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7
                                             86.6 169.4c-12.5-12.5-32.8-12.5-45.3
                                             0s-12.5 32.8 0 45.3l192 192z" />
                                      </svg>
                                    </span>
                                  
                                    <ul class="lockscreen-timeout-dropdown__menu" *ngIf="isLockScreenTimeoutDropDownOpen">
                                      <li  *ngFor="let option of lockScreenTimeOutOptions" (click)="onLockScreenTimeoutSelect(option, $event)" 
                                        [class.selected]="option.label === lockScreenTimeoutOption">
                                        {{ option.label }}
                                      </li>
                                    </ul>
                                  </div>
                                  
                            </div>
                        </div>
                    </div>
                </ng-template>
    
                <ng-template #taskBarView>
                    <div class="personalization-view__taskbar-container">
                        <div class="taskbar-block-heading">
                            <p class="taskbar-block-heading__p"> Taskbar</p>
                        </div>

                        <div class="taskbar-block-content">
                            <div class="taskbar-block__text">
                                <p class="taskbar-block-miniheading__p"> Automatically hide the taskbar in desktop mode</p>
                            </div>

                            <div class="taskbar-block__button">
                                <label class="system-btn__toggle">
                                    <input type="checkbox" [(ngModel)]="isAutoHideTaskBar" (change)="saveUnSaveAutoHideTaskBar()">
                                    <span class="system-btn__slider"></span>
                                </label>
    
                                <div class="taskbar-button__text">
                                    <p class="taskbar"> {{autoHideTaskBarText}} </p>
                                </div>
                            </div>
                        </div>

                        <div class="taskbar-block-content">
                            <div class="taskbar-block__text">
                                <p class="taskbar-block-miniheading__p"> Taskbar location on screen</p>
                            </div>

                            <div class="taskbar-block-content">
                                <div class="taskbar-background-dropdown" (click)="toggleTaskBarPostionDropdown($event)" [class.open]="isTaskbarPostionDropDownOpen">
                                    <div class="taskbar-background-dropdown__selected">
                                      {{ taskBarPostionOption|| 'Select background' }}
                                    </div>
                                  
                                    <span class="taskbar-background-dropdown__icon">
                                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path 
                                          d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192
                                             c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7
                                             86.6 169.4c-12.5-12.5-32.8-12.5-45.3
                                             0s-12.5 32.8 0 45.3l192 192z" />
                                      </svg>
                                    </span>
                                  
                                    <ul class="taskbar-background-dropdown__menu" *ngIf="isTaskbarPostionDropDownOpen">
                                      <li  *ngFor="let option of taskbarPositionOptions" 
                                        [class.selected]="option.label === taskBarPostionOption">
                                        {{ option.label }}
                                      </li>
                                    </ul>
                                  </div>
                            </div>
                        </div>

                        <div class="taskbar-block-content">
                            <div class="taskbar-block__text">
                                <p class="taskbar-block-miniheading__p"> Combine taskbar buttons</p>
                            </div>

                            <div class="taskbar-block-content">
                                <div class="taskbar-background-dropdown" (click)="toggleTaskBarCombinationDropdown($event)" [class.open]="isTaskbarCombinationDropDownOpen">
                                    <div class="taskbar-background-dropdown__selected">
                                      {{ taskBarCombinationOption|| 'Select background' }}
                                    </div>
                                  
                                    <span class="taskbar-background-dropdown__icon">
                                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path 
                                          d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192
                                             c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7
                                             86.6 169.4c-12.5-12.5-32.8-12.5-45.3
                                             0s-12.5 32.8 0 45.3l192 192z" />
                                      </svg>
                                    </span>
                                  
                                    <ul class="taskbar-background-dropdown__menu" *ngIf="isTaskbarCombinationDropDownOpen">
                                      <li  *ngFor="let option of taskbarCombinationOptions" 
                                        [class.selected]="option.label === taskBarCombinationOption" (click)="handleTaskBarCombinationSelection(option, $event)">
                                        {{ option.label }}
                                      </li>
                                    </ul>
                                  </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </ng-template>

        <ng-template #applicationView>

        </ng-template>


    </div>
</cos-window>