.taskBar-Entry-li{
    display: flex;
    height: 100%;
    margin: 0 4px;
}

.taskBar-Entry-figure{
    align-items: center;
    display: flex;
    padding: 4px;
}

.taskBar-Entry-li-ext{
    display: flex;
    height: 100%;
    margin: 0 4px;
}

.taskBar-Entry-figure-ext{
    position: relative;
    display: flex;
    flex-direction: row;
    top: 0.5px;
    align-items: center;
    min-width: 40px;
    padding: 4px;
}

.taskBar-Entry-figcaption{
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    margin-left: 4px;
    padding-top: 4px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 92px;
    min-width: 0;
}

.taskBar-Entry-img{
    position: relative;
    top: 1px;
    height: 25px;
    width: 25px;
}