.cheetah-main-contianer{
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
}

.os-info{
    height: 100%;
    width: 100%;
    padding:8px 8px 4px 8px;
}

.os-image{
    width: 626px;
    height: 235px;
    margin-inline: auto;
}

.os-name{
    font-size: 30px;
    text-align: center;
    color: #000;
}
.os-version{
    font-size: 15px;
    text-align: center;
    color: #000;
}