<ng-container [ngTemplateOutlet]="notificationOption === errorNotification ? errorNotice :
                                  notificationOption === warnNotification ? warningNotice :
                                  notificationOption === infoNotification ? infoNotice :
                                  notificationOption === pwrOnOffNotification ? shutDownRestartNotice : 
                                  notificationOption === deleteWarnNotification ? deleteWarning : fileTransfer">
</ng-container>

<ng-template #errorNotice>
    <cos-basicwindow [runningProcessID]="processId" [displayMessage]="dialogTitle" [processAppName]="ERROR_DIALOG" [isDialog]="true">
        <div ngDraggable class="error-dialog-main-container">
            <div class="error-dialog-mid-container">
                <div class="error-dialog-mid-section1">
                    <div class="error-dialog-mid-img1">
                        <figure class="error-dialog-figure1">
                            <img class="error-dialog-img1" [src]="errorIcon"/>
                        </figure>
                    </div>
                    <div class="error-dialog-mid-txt1">
                        <span class="error-dialog-mid-section1-msg">{{dialogMgs}}</span>
                    </div>
                </div>
                <div class="error-dialog-mid-section2">
                    @if(showExtraErroMsg){
                        <span class="error-dialog-mid-section2-msg">{{displayAdditionalMsg}}</span>
                    }
                </div>
            </div>
            <div class="error-dialog-tail-container">
                <span style="position: fixed; margin-top:10px; right:4%;">
                    <button class="btn btn-primary" (click)="onCloseDialogBox()" >
                        Ok
                    </button>
                </span>
            </div>
        </div>
    </cos-basicwindow>
</ng-template>

<ng-template #infoNotice>
    <cos-basicwindow [runningProcessID]="processId" [processAppName]="INFO_DIALOG" [isDialog]="true">
        <div  class="info-dialog-main-container">    
            <div class="info-dialog-mid-container" tabindex="0">
                <div class="info-dialog-mid-section1">
                    <div class="info-dialog-mid-img1">
                        <figure class="info-dialog-figure1">
                            <img class="info-dialog-img1" [src]="infoIcon"/>
                        </figure>
                    </div>
                    <div class="info-dialog-mid-txt1">
                        <span class="info-dialog-mid-section1-msg">{{dialogMgs}}</span>
                    </div>
                </div>
            </div>
        
            <div class="info-dialog-tail-container">
                <span style="position: fixed; margin-top:10px; right:4%;">
                    <button class="btn btn-primary" (click)="onCloseDialogBox()" >
                        Ok
                    </button>
                </span>
            </div>
        </div>
    </cos-basicwindow>
</ng-template>

<ng-template #warningNotice>
    <cos-basicwindow [runningProcessID]="processId" [displayMessage]="dialogTitle" [processAppName]="WARNING_DIALOG" [isDialog]="true">
        <div  class="warning-dialog-main-container"> 
            <div class="warning-dialog-mid-container" tabindex="0">
                <div class="warning-dialog-mid-section1">
                    <div class="warning-dialog-mid-img1">
                        <figure class="warning-dialog-figure1">
                            <img class="warning-dialog-img1" [src]="warningIcon"/>
                        </figure>
                    </div>
                    <div class="warning-dialog-mid-txt1">
                        <p class="warning-dialog-mid-section1-msg">{{dialogMgs}}</p>
                    </div>
                </div>
            </div>
        
            <div class="warning-dialog-tail-container">
                <span style="position: fixed; margin-top:10px; right:4%;">
                    <button class="btn btn-primary" (click)="onYesDialogBox()" >
                        Yes
                    </button>
                    <div style="padding-left: 5px; display: inline;"></div>
                    <button class="btn btn-secondary" (click)="onCloseDialogBox()" >
                        No
                    </button>
                </span>
            </div>
        </div>
    </cos-basicwindow>
</ng-template>

<ng-template #shutDownRestartNotice>
    <div ngDraggable [handle]="leftHS4"  (click)="onPwrDialogWindowClick($event)"  [ngDraggable]="false" class="shutdown-restart-dialog-main-container" id="shutdown-restart-dialog-{{processId}}">
        <div class="shutdown-restart-dialog-header-container" tabindex="0">
            <div #leftHS4 class="shutdown-restart-dialog-left-header-section">
                <h1 class="shutdown-restart-dialog-h1">
                    <figure class="shutdown-restart-dialog-figure">
                        <!-- <img class="shutdown-restart-dialog-img" [src]="this.icon" [alt]="this.name"/> -->
                        <figcaption class="shutdown-restart-dialog-figcaption"> {{dialogMgs}} </figcaption>
                    </figure>
                </h1>
            </div>
        </div>

        <!-- Section 1 -->
        <div class="shutdown-restart-section shutdown-restart-section1">
          <div class="sr-section1-img">
            <img [src]="cheetahOS" class="sr-section1-img">
          </div>
          <div class="sr-section1-text-container">
            <span>CheetahOS</span>
          </div>
        </div>
    
        <!-- Section 2 -->
        <div class="shutdown-restart-section shutdown-restart-section2">
          <div class="shutdown-restart-section2-left-part">
            <img [src]="myComputer" class="sr-section2-img">
          </div>
          <div class="right-part">
            <div class="top-text">What do you want the computer to do?</div>

            <div class="custom-select">
                <select class="shutdown-restart-select" [(ngModel)]="selectedOption" (change)="onPwrOptionSelect($event)">
                    <option class="shutdown-restart-option" *ngFor="let option of pwrOnOffOptions" [value]="option.value">
                        {{ option.value }}
                    </option>
                </select>
                <div class="custom-select-img-cntnr">
                    <div class="custom-select-img"> 
                        <svg xmlns="http://www.w3.org/2000/svg" 
                        height="10" width="10" 
                        viewBox="0 0 512 512" style="fill: #333;">
                        <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
                    </svg>
                    </div>
                </div>
            </div>
            <div class="bottom-text"> {{ pwrOnOffOptionsTxt }}</div>
          </div>
        </div>
    
        <!-- Section 3 -->
        <div class="shutdown-restart-section shutdown-restart-section3">
            <div class="sr-section3-question">
                <div class="sr-section3-chxbox">
                    <input type="checkbox" [(ngModel)]="reOpenWindows" (change)="onCheckboxChange()">
                </div>
                <div class="sr-section3-txt">
                    Reopen windows when loggin back in
                </div>
            </div>
            <div class="sr-section3-btns">
                <button class="btn btn-primary-pwr" (click)="onYesPowerDialogBox()" >OK</button>
                <button class="btn btn-secondary-pwr" (click)="onCloseDialogBox()">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>

<!-- File Transfer Dialog To be Added -->
<ng-template #fileTransfer>
    <cos-window [runningProcessID]="processId" [processAppIcon]="fileTransferIcon" [processAppName]="isInit? dialogTitle: progressUpdateText" [isMaximizable]="isMaximizable">
        <div class="file-transfer-dialog-main-container" tabindex="0">
            <div class="file-transfer-dialog-content-container" > 

                @if(isFileTransferInProgress){
                    <div class="file-transfer-dialog-from-to">
                        <p class="file-transfer-p1">{{srcToDestPart1}}</p>
                        &nbsp;
                        <p class="file-transfer-p2">{{from}}</p>
                        &nbsp;
                        <p class="file-transfer-p1">{{srcToDestPart2}}</p>
                        &nbsp;
                        <p class="file-transfer-p3">{{to}}</p>
                    </div>
    
                    <div class="file-transfer-dialog-progress-text">
                        <p>{{progressUpdateText}}</p>
                    </div>
    
                    <div class="file-transfer-dialog-progress-container">
                        <div class="file-transfer-dialog-progress-bar" [style.width.%]="transferProgress">
                            <div class="progress-bar__light-effect"></div>
                        </div>
                    </div>
                }

                @if(isFileDeleteInProgress){
                    <div class="file-transfer-dialog-from-to">
                        <p class="file-transfer-p1">{{srcToDestPart1}}</p>
                        &nbsp;
                        <p class="file-transfer-p2">{{from}}</p>
                    </div>
    
                    <div class="file-transfer-dialog-progress-text">
                        <p>{{progressUpdateText}}</p>
                    </div>
    
                    <div class="file-transfer-dialog-progress-container">
                        <div class="file-transfer-dialog-progress-bar-1">
                            <div class="progress-bar__light-effect-1"></div>
                        </div>
                    </div>
                }

                <div class="file-transfer-dialog-progress-file-name">
                    @if(!isInit){
                        <p>Name: {{fileName}}</p>
                        <!--<p>Time remaining: About {{fileName}}</p>
                        <p>Items remaining: {{fileName}}</p>-->
                    }
                </div>
            </div>
            <div class="file-transfer-dialog-tail-container">
                <div class="file-tranfer__details-option">
                    <div class="file-tranfer__icon"><img [src]="'osdrive/Cheetah/System/Imageres/arrow_down.png'"></div>
                    <div class="file-tranfer__info">More details</div>
                </div>
                <span style="position: fixed; margin-top:10px; right:4%;">
                    <button class="btn btn-secondary" (click)="onCloseDialogBox()" >
                        <p class="file-transfer-btn-cancel">Cancel</p>
                    </button>
                </span>
            </div>
        </div>
    </cos-window>
</ng-template>

<ng-template #deleteWarning>
    <cos-basicwindow [runningProcessID]="processId" [displayMessage]="dialogTitle" [processAppName]="WARNING_DIALOG" [isDialog]="true">
        <div class="delete-warning__dialog-container">
            <div class="delete-warning__dialog">          
              <div class="delete-warning__dialog-body">
                <img [src]="contentInRecycleBin" alt="Recycle Bin" class="delete-warning__icon" />
          
                <div class="delete-warning__dialog-content">
                  <p class="delete-warning__dialog-question">
                    Are you sure that you want to move this folder to the Recycle Bin?
                  </p>
          
                  <div class="delete-warning__folder-info">
                    <img [src]="fIcon" alt="Folder" class="delete-warning__folder-icon" />
                    <div class="delete-warning__folder-metadata">
                      <div class="delete-warning__folder-name">Name:{{fName}}</div>
                      <div class="delete-warning__folder-date">Type:{{fType}}</div>
                      <div class="delete-warning__folder-date">Path:{{fPath}}</div>
                      <div class="delete-warning__folder-date"> Date created:{{fDateCreated | date: 'dd MMM yyyy HH:mm' }}</div>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="delete-warning__dialog-buttons">
                <span style="position: fixed; margin-top:10px; right:4%;">
                    <button class="btn btn-primary" (click)="onYesDialogBox()" >
                        Yes
                    </button>
                    <div style="padding-left: 5px; display: inline;"></div>
                    <button class="btn btn-secondary" (click)="onCloseDialogBox()" >
                        No
                    </button>
                </span>
              </div>
            </div>
        </div> 
    </cos-basicwindow>
</ng-template>