
<cos-primarywindow 
    [runningProcessID]="processId" 
    [processAppIcon]="icon" 
    [processAppName]="name" 
    [isMaximizable]="isMaximizable" 
    [minimumWindowWidth]="MIN_WIDTH_PX" 
    [minimumWindowHeight]="MIN_HEIGHT_PX"
    [priorUId]="priorUId">

    <div class="boid-main-cntnr" id="boidCntnr" (contextmenu)="silenceCtxEvt($event)" (click)="focusWindow($event)">
        <div class="controls" [formGroup]="form">
            <div class="control" *ngFor="let name of sliders">
                <label class="control-label">{{ name | titlecase }}: {{ form.get(name)?.value }}</label>
                <input type="range" [formControlName]="name" min="0" max="2" step="0.1">
            </div>
        </div>

        <div class="boid-cntnr" #boidCanvas></div>
    </div>
</cos-primarywindow>
