
<ng-container [ngTemplateOutlet]="taskBarEntriesIconState === mergedIcons ? mergedTskBarIcons : unMergedTskBarIcons">
</ng-container>

<ng-template #mergedTskBarIcons>
     <ol class="taskBar-Entries-ol"> 
          <li class="taskBar-Entries-li-inactive" taskBarEntryHighlight *ngFor="let pin of mergedTaskBarIconList;  let i = index" id="tskbar-{{pin.opensWith}}" (mouseenter)="onMouseEnter(pin.opensWith, 0, pin.iconPath, pinned)" (mouseleave)="onMouseLeave()" (click)="onPinnedTaskBarIconClick(pin)" (contextmenu)="onShowIconContextMenu($event, pin)">
               <cos-taskbarentry  [taskBarPid]="pin.pid" [taskBarIconImgUrl]="pin.defaultIconPath"  [taskBarIconName]="pin.opensWith" [taskBarEntryType]="hideLabel"> </cos-taskbarentry> 
                <!-- <div class="taskBar-multi-instance" id="mult-pin-{{i}}"></div>  -->
          </li>
     </ol>
</ng-template>

<ng-template #unMergedTskBarIcons>
     <ol class="taskBar-Entries-ol"> 
          <li class="taskBar-Entries-li-inactive" taskBarEntryHighlight *ngFor="let app of unMergedTaskBarIconList;  let i = index" id="tskbar-{{app.opensWith}}-{{app.pid}}" (mouseenter)="onMouseEnter(app.opensWith, app.pid, app.iconPath, pinned)" (mouseleave)="onMouseLeave(app.opensWith, app.pid)" (click)="onPinnedTaskBarIconClick(app)" (contextmenu)="onShowIconContextMenu($event, app)">
               <cos-taskbarentry  [taskBarPid]="app.pid" [taskBarIconImgUrl]="app.iconPath"  [taskBarIconName]="app.displayName" (restoreOrMinizeWindowEvent)="restoreOrMinizeWindow($event)" [taskBarEntryType]="app.showLabel"> </cos-taskbarentry> 
          </li>
     </ol>
</ng-template>
