
<ng-container [ngTemplateOutlet]="taskBarEntriesIconState === mergedIcons ? mergedTskBarIcons : unMergedTskBarIcons">
</ng-container>

<ng-template #mergedTskBarIcons>
     <!-- <ol class="taskBar-Entries-ol"> 
          <li class="taskBar-Entries-li-inactive" taskBarEntryHighlight *ngFor="let pin of pinToTaskBarList;  let i = index" id="tskbar-{{pin.getOpensWith}}" (mouseenter)="onMouseEnter(pin.getOpensWith, 0, pin.getIconPath, pinned)" (mouseleave)="onMouseLeave()" (click)="onPinnedAppIconClick(pin)" (contextmenu)="onShowIconContextMenu($event, pin)">
               <cos-taskbarentry  [taskBarPid]="appProcessId" [taskBarIconImgUrl]="pin.getIconPath"  [taskBarIconName]="pin.getOpensWith"> </cos-taskbarentry> 
                <div class="taskBar-multi-instance" id="mult-pin-{{i}}"></div> 
          </li>
     
     
          <li class="taskBar-Entries-li" taskBarEntryHighlight *ngFor="let rProcess of runningProcess" id="tskbar-UnPinned-{{rProcess.getProcessName}}" (mouseenter)="onMouseEnter(rProcess.getProcessName, rProcess.getProcessId, rProcess.getIcon, unPinned)" (mouseleave)="onMouseLeave()" (contextmenu)="onShowUnPinnedIconContextMenu($event, rProcess)">
               <cos-taskbarentry [taskBarPid]="rProcess.getProcessId" [taskBarIconImgUrl]="rProcess.getIcon"  [taskBarIconName]="rProcess.getProcessName" (restoreOrMinizeWindowEvent)="restoreOrMinizeWindow($event)" [taskBarEntryType]="hideShowLabelState"> </cos-taskbarentry> 
               <<div class="taskBar-multi-instance" id="multi-unpin-{{0}}"></div> 
          </li>
     </ol> -->
</ng-template>


<ng-template #unMergedTskBarIcons>
     <ol class="taskBar-Entries-ol"> 
          <li class="taskBar-Entries-li-inactive" taskBarEntryHighlight *ngFor="let pin of pinToTaskBarList;  let i = index" id="tskbar-{{pin.opensWith}}" (mouseenter)="onMouseEnter(pin.opensWith, 0, pin.iconPath, pinned)" (mouseleave)="onMouseLeave()" (click)="onPinnedAppIconClick(pin)" (contextmenu)="onShowIconContextMenu($event, pin)">
               <cos-taskbarentry  [taskBarPid]="appProcessId" [taskBarIconImgUrl]="pin.iconPath"  [taskBarIconName]="pin.opensWith" [taskBarEntryType]="pin.showLabel"> </cos-taskbarentry> 
          </li>
     
     
          <li class="taskBar-Entries-li" taskBarEntryHighlight *ngFor="let rProcess of runningProcess" id="tskbar-UnPinned-{{rProcess.getProcessName}}-{{rProcess.getProcessId}}" (mouseenter)="onMouseEnter(rProcess.getProcessName, rProcess.getProcessId, rProcess.getIcon, unPinned)" (mouseleave)="onMouseLeave()" (contextmenu)="onShowUnPinnedIconContextMenu($event, rProcess)">
               <cos-taskbarentry [taskBarPid]="rProcess.getProcessId" [taskBarIconImgUrl]="rProcess.getIcon"  [taskBarIconName]="rProcess.getProcessName" (restoreOrMinizeWindowEvent)="restoreOrMinizeWindow($event)" [taskBarEntryType]="hideShowLabelState"> </cos-taskbarentry> 
          </li>
     </ol>
</ng-template>
