
<ng-container [ngTemplateOutlet]="taskBarEntriesIconState === mergedIcons ? mergedTskBarIcons : unMergedTskBarIcons">
</ng-container>

<ng-template #mergedTskBarIcons>
     <ol class="taskBar-Entries-ol"> 
          <li class="taskBar-Entries-li-inactive" taskBarEntryHighlight *ngFor="let pin of pinToTaskBarList;  let i = index" id="tskbar-{{pin.opensWith}}" (mouseenter)="onMouseEnter(pin.opensWith, 0, pin.iconPath, pinned)" (mouseleave)="onMouseLeave()" (click)="onPinnedAppIconClick(pin)" (contextmenu)="onShowIconContextMenu($event, pin)">
               <cos-taskbarentry  [taskBarPid]="pin.pid" [taskBarIconImgUrl]="pin.iconPath"  [taskBarIconName]="pin.opensWith" [taskBarEntryType]="hideLabel"> </cos-taskbarentry> 
                <!-- <div class="taskBar-multi-instance" id="mult-pin-{{i}}"></div>  -->
          </li>
     
          <li class="taskBar-Entries-li" taskBarEntryHighlight *ngFor="let activeProcess of activeProcesses" id="tskbar-UnPinned-{{activeProcess.getProcessName}}" (mouseenter)="onMouseEnter(activeProcess.getProcessName, activeProcess.getProcessId, activeProcess.getIcon, unPinned)" (mouseleave)="onMouseLeave()" (contextmenu)="onShowUnPinnedIconContextMenu($event, activeProcess)">
               <cos-taskbarentry [taskBarPid]="activeProcess.getProcessId" [taskBarIconImgUrl]="activeProcess.getIcon"  [taskBarIconName]="activeProcess.getProcessName" (restoreOrMinizeWindowEvent)="restoreOrMinizeWindow($event)" [taskBarEntryType]="hideLabel"> </cos-taskbarentry> 
               <!-- <div class="taskBar-multi-instance" id="multi-unpin-{{0}}"></div>  -->
          </li>
     </ol>
</ng-template>

<ng-template #unMergedTskBarIcons>
     <ol class="taskBar-Entries-ol"> 
          <li class="taskBar-Entries-li-inactive" taskBarEntryHighlight *ngFor="let app of unMergedTaskBarList;  let i = index" id="tskbar-{{app.opensWith}}-{{app.pid}}" (mouseenter)="onMouseEnter(app.opensWith, app.pid, app.iconPath, pinned)" (mouseleave)="onMouseLeave(app.opensWith, app.pid)" (click)="onPinnedAppIconClick(app)" (contextmenu)="onShowIconContextMenu($event, app)">
               <cos-taskbarentry  [taskBarPid]="app.pid" [taskBarIconImgUrl]="app.iconPath"  [taskBarIconName]="app.displayName" (restoreOrMinizeWindowEvent)="restoreOrMinizeWindow($event)" [taskBarEntryType]="app.showLabel"> </cos-taskbarentry> 
          </li>
     </ol>
</ng-template>
