.taskBar-Entries-ol{
    height: 100%;
    left: 80px;
    position: absolute;
    right:116px;
    display: flex;
    column-gap: 3px;
    margin: 0 1px;
    transition: all 0.075s;
    overflow-x: hidden;
}

/* .taskBar-Entries-li{
    height: 100%;
    display: flex;
    border-bottom: 2px solid hsl(207deg 100%  72% / 90%);
} */

.taskBar-Entries-li{
    height: 100%;
    display: flex;
    border-bottom: 2px solid transparent;
}

.taskBar-multi-instance{
    position: relative;
    height: 41px;
    width: 8px;
}