.main-photos__container{
    width: 1000px;
    height: 600px;
}

*{
    box-sizing: border-box;
}

.main-photo-viewer__container{
    /* z-index: 2; */
    width: 100;
    background:linear-gradient(
        to right,
        #29323c,
        #485563
    )
}

.photo-viewer-container{
    /* position: relative; */
    /* min-width: 1103px; */
    width: 1000px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.photo-viewer-container img{
    width: 100%;
    height: 100%;
}

.photo-viewer{
    width: 52em;
    height: 38em;
    padding: 4em 0em;
    margin: auto;
    overflow: hidden;
    aspect-ratio: 3 / 2;
    display: grid;
    place-items: center;
}

.photo-viewer img{
    border: 4px solid white;
    box-shadow: 8px 2px 30px black;
}

.photo-slider{
    height: 5.5em;
    margin: 0em 3em;
}

.photo-slider-img{
    width:  10.5em;
    height:  6em;
    display: inline-flex;
}

.photo-storage{
    display: inline-flex;
    width: fit-content;
}

.myslides{
    display: none;
}



/*Gallery View Start*/
.main-gallery__container{
    display: flex;
    width: 100%;
    height: 100%;
}

.gallery-sidepanel{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 600px;
    padding: 20px 0px;
    /* background-color: #21201e; */
    background-color: #000000;
}

.gallery-content{
    display: flex;
    width: 750px;
    flex-direction: column;
    padding:40px 40px 0 40px;
    background-color: #121212;
}

.ol-gallery-content__grid{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns:  repeat(auto-fill, 324px);
    grid-template-rows: repeat(auto-fill, 184px);
    width: 100%;
    gap: 4px;
  }

  .li-gallery-content{
    aspect-ratio: 4 / 3; /* maintains the same proportions */
    width: 324px;
    height: 184px;
  }

  .gallery-content__img{
    width: 316px;
    height: 180px;
    object-fit: cover; /* keeps image nicely cropped */
    border: 1px solid #ffffff;
  }
/*Gallery View End*/