.main-photos__container{
    width: 1000px;
    height: 600px;
}

*{
    box-sizing: border-box;
    scrollbar-width: none; /* hides scrollbar */
}

::-webkit-scrollbar {
    display: none;
}

.main-photo-viewer__container{
    /* z-index: 2; */
    width: 100;
    background:linear-gradient(
        to right,
        #29323c,
        #485563
    )
}

.photo-viewer-container{
    /* position: relative; */
    /* min-width: 1103px; */
    width: 1000px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.photo-viewer-container img{
    width: 100%;
    height: 100%;
}

.photo-viewer{
    width: 52em;
    height: 38em;
    padding: 4em 0em;
    margin: auto;
    overflow: hidden;
    aspect-ratio: 3 / 2;
    display: grid;
    place-items: center;
}

.photo-viewer img{
    border: 4px solid white;
    box-shadow: 8px 2px 30px black;
}

.photo-slider{
    height: 5.5em;
    margin: 0em 3em;
}

.photo-slider-img{
    width:  10.5em;
    height:  6em;
    display: inline-flex;
}

.photo-storage{
    display: inline-flex;
    width: fit-content;
}

.myslides{
    display: none;
}



/*Gallery View Start*/
.main-gallery__container{
    display: flex;
    width: 100%;
    height: 100%;
}

.gallery-sidepanel{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 600px;
    padding: 20px 0px;
    /* background-color: #21201e; */
    background-color: #000000;
}

.gallery-content__container{
    display: flex;
    width: 750px;
    flex-direction: column;
    padding:40px 40px 0 40px;
    background-color: #121212;
}

.gallery-content__body{
    display: block;
    width: 670px;
    height: 500px;
    overflow-y: auto;
    padding: 0px;
}
  
.ol-gallery-content__grid{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns:  repeat(auto-fill, 324px);
    grid-template-rows: repeat(auto-fill, 184px);
    width: 100%;
    gap: 4px;
}

.li-gallery-content{
    aspect-ratio: 4 / 3; /* maintains the same proportions */
    width: 324px;
    height: 184px;
}

.gallery-content__img{
    width: 316px;
    height: 180px;
    object-fit: cover; /* keeps image nicely cropped */
    border: 1px solid #ffffff;
}


.gallery-content__heading{
  display: flex;
  flex-direction: column;
  gap: 5px 0px;
  width: 100%;
}

.gallery-content__empty-container{
  width: 100%;
}

.gallery-content__heading-item{
  display: inline-flex;
  height: 30px;
  width: 100%;
}

.gallery-content__heading-head{
  display: inline-flex;
  width: 22px;
  height: 30px;
}

.gallery-content__heading-figure{
  position: relative;
  align-items: center;
  height: 20px;
  width: 20px;
  top: 5px;
}

.gallery-content__heading-img{
  height: 20px;
  width: 20px;
  position: relative;
}

.gallery-content__heading-tail{
  padding: 0 1px;
  color: #fff;
  text-align: left;
  font-size: 15px;
  font-weight:bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width:  100%;
  height: 30px;
}


.gallery-content-block__text{
  height: fit-content;
}

.gallery-content__miniheading-p{
  padding: 0 1px;
  color: #fff;
  text-align: left;
  font-size: 11px;
  font-weight:200;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: fit-content;
}

.gallery-content__heading-p{ 
  position: relative;
  width: 100%;
  top: 4px;
  left: 5px;
  overflow: hidden;         
  text-overflow: ellipsis; 
  white-space: nowrap;
}
/*Gallery View End*/