<cos-window [runningProcessID]="this.processId" [processAppIcon]="this.icon" [processAppName]="this.name" [isMaximizable]="this.isMaximizable" [priorUId]="this.priorUId">
    <div class="main-photos__container"  id="photosContainer" #photoContainer>
        <ng-container [ngTemplateOutlet]="defaultView === GALLERY_VIEW ? galleryView : photoView ">
        </ng-container>
        
        <ng-template #galleryView> 
            <div class="main-gallery__container" (contextmenu)="focusHere($event)" (click)="focusHere($event)" >
                
                <div class="gallery-option__panel">
                    <ol class="ol-gallery-option__grid">
                        <li class="li-gallery-option__item" *ngFor="let option of galleryOptions; let i = index">
                            <div class="gallery-option__item-cntnr" 
                                (click)="handleGalleryOptionSelection(option[1], i, $event, GALLERY)">
                                
                                <div class="gallery-option__item-head">
                                    <div class="item-head__indication"   [class.active]="i === selectedIdx"></div>
                                    <figure class="gallery-option__item-figure">
                                        <img class="gallery-option__item-img" [src]="option[0]" />
                                    </figure>
                                </div>
        
                                <div class="gallery-option__item-tail">
                                    <p class="gallery-option__item-p">{{ option[1] }}</p>
                                </div>
                            </div>
                        </li>
                    </ol>
                    <div class="gallery-content__empty-container"></div>
                    <div class="photos-line"></div>
                    <div class="gallery-content__empty-container"></div>

                    <div class="gallery-content-block"
                    (click)="handleSortBy(SCREEN_SHOT)">
                        <div class="gallery-content-block__indication"   [class.active]="SCREEN_SHOT === sortBy"></div>
                        <div class="gallery-content-block__text_1">
                            <p class="gallery-content__subheading-p"> Screen shots: {{screenShotCount}} </p>
                        </div>
                    </div>

                    <div class="gallery-content-block"
                    (click)="handleSortBy(SAMPLE)">
                        <div class="gallery-content-block__indication"  [class.active]="SAMPLE=== sortBy"></div>
                        <div class="gallery-content-block__text_1">
                            <p class="gallery-content__subheading-p"> Sample:  {{ sampleCount}} </p>
                        </div>
                    </div>

                    <div class="gallery-content-block"
                    (click)="handleSortBy(OTHER)">
                        <div class="gallery-content-block__indication"   [class.active]="OTHER === sortBy"></div>
                        <div class="gallery-content-block__text_1">
                            <p class="gallery-content__subheading-p"> Other:  {{ otherCount}} </p>
                        </div>
                    </div>
                </div>

                <div class="gallery-content__container">
                    <div class="gallery-content__heading">
                        <div class="gallery-content__heading-item">
                            <div class="gallery-content__heading-head">
                                <figure class="gallery-content__heading-figure">
                                    <img class="gallery-content__heading-img" [src]="galleryImg" />
                                </figure>
                            </div>
                            <div class="gallery-content__heading-tail">
                                <p class="gallery-content__heading-p">{{ GALLERY }}</p>
                            </div>
                        </div>
            
                        <div class="gallery-content-block__text">
                            <p class="gallery-content__miniheading-p"> {{imageList.length}} photos</p>
                        </div>
                        <div class="gallery-content__empty-container"></div>
                    </div>
                    <div class="gallery-content__body">
                        <ol class="ol-gallery-content__grid">
                            <li class="li-gallery-content" *ngFor="let option of imageList; let i = index">
                                <div class="gallery-content__img" 
                                    (click)="handlePictureSelection(option[0], $event)" >
                                    <img [src]="option[0]"/>
                                </div>
                            </li>
                        </ol>
                    </div>

                </div>
            </div>
            
        </ng-template>
    
        <ng-template #photoView>
            <div class="main-photo-viewer__container" (contextmenu)="focusHere($event)" (click)="focusHere($event)" >
                <div  class="photo-viewer-container"> 
                    <div class="photo-viewer__controls-container">
                        <div class="photos_top_toolbar">
                            <div class="photos_bottom_toolbar__left">
                                <div class="photos_toolbar_icon2" (click)="goBackToGallery()">
                                    <img [src]="goBackImg"/>
                                </div>
                            </div>
                            <div class="photos_bottom_toolbar__center">
                                <div class="photos_toolbar_image-name">{{photoName}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="photo-viewer__content-container">
                        <div tabindex="0" 
                            id="photoCntnr" 
                            class="photo-viewer" 
                            (keydown)="onKeyDown($event)" 
                            (mousemove)="onMouseMove($event)" 
                            (mousedown)="startPan($event)" 
                            (mouseup)="endPan()" 
                            (mouseleave)="endPan()" 
                            (mousemove)="pan($event)"
                            (wheel)="onWheel($event)"
                            (dblclick)="resetView()">  
                            <img     
                                [src]="currentImg" 
                                [style.transform]="transformStyle" 
                                [style.transform-origin]="transformOrigin"
                            />
                        </div>

                        <div class="info-pane_container">
                            <div class="photo-info-pane">
                                <div class="photo-info-pane__header">
                                  <h2>Info</h2>
                                  <button class="photo-info-pane__close-btn">✕</button>
                                </div>
                        
                                <div class="photo-info-pane__field">
                                    <div class="photo-info-pane__icon"> <img [src]="photoImg" /></div>
                                    <div class="photo-info-pane__text">placeholder_filename</div>
                                </div>

                                <div class="photo-info-pane__field">
                                    <div class="photo-info-pane__icon"> <img [src]="calendarImg" /></div>
                                    <div class="photo-info-pane__group-text">
                                        <div class="photo-info-pane__group-text_big">Month</div>
                                        <div class="photo-info-pane__group-text_small">Day</div>
                                        <div class="photo-info-pane__group-text_small1">Year</div>
                                    </div>
                                </div>

                                <div class="photo-info-pane__field">
                                    <div class="photo-info-pane__icon"> <img [src]="timeImg" /></div>
                                    <div class="photo-info-pane__group-text">
                                        <div class="photo-info-pane__group-text_small">9</div>
                                        <div class="photo-info-pane__group-text_small">17</div>
                                        <div class="photo-info-pane__group-text_small1">PM</div>
                                    </div>
                                </div>

                                <div class="photo-info-pane__field">
                                    <div class="photo-info-pane__icon1"> <img [src]="resolutionImg1" /></div>
                                    <div class="photo-info-pane__group-text-vertical">
                                        <div class="photo-info-pane__label">Size Info</div>
                                        <div class="photo-info-pane__details">1920 x 1080 516kb 72dpi 24bit</div>
                                    </div>
                                </div>

                                <div class="photo-info-pane__field">
                                    <div class="photo-info-pane__icon1"> <img [src]="srcImg" /></div>
                                    <div class="photo-info-pane__group-text-vertical">
                                        <div class="photo-info-pane__label">Source</div>
                                        <div class="photo-info-pane__details">This PC</div>
                                    </div>
                                </div>

                                <div class="photo-info-pane__field">
                                    <div class="photo-info-pane__icon1"> <img [src]="folderPathImg" /></div>
                                    <div class="photo-info-pane__group-text-vertical">
                                        <div class="photo-info-pane__label">File Path</div>
                                        <div class="photo-info-pane__link">C:\placeholder\path\filename.jpeg</div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>


                    @if(showImageSlide){
                        <div class="photo-slider-container">
                            <div class="photo-slider">
                                <div class="photo-storage" *ngFor="let img of imageList; let i = index"  (click)="onClick(i)">
                                    <div class="photo-slider-img">
                                        <img [src]="img[0]"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="photo-viewer__basic-info-container">
                        <div class="photos_bottom_toolbar">
                            <div class="photos_bottom_toolbar__left">
                              <div class="photos_toolbar_icon" (click)="showImageCarousel()">
                                <img [src]="slideShowImg"/>
                              </div>
                              <div class="photos_toolbar_icon"> 
                                <img [src]="infoImg"/>
                              </div>
                              <div class="photos_toolbar_icon1">  
                                <img [src]="resolutionImg"/>
                              </div>
                              <div class="photos_toolbar_info">{{imgDimension}}</div>
                              <div class="photos_toolbar_icon1">
                                <img [src]="sizeImg"/>
                              </div>
                              <div class="photos_toolbar_info">{{imgSize}}</div>
                            </div>
                          
                            <div class="photos_bottom_toolbar__right">
                              <div class="photos_toolbar_icon" (click)="fitToScreen()">
                                <img [src]="scaleImg"/>
                              </div>
                              <div class="photos_toolbar_zoom">
                                <div class="photo-dropdown" (click)="toggleDropdown()" [class.open]="isOpen">
                                    <div class="photo-dropdown__selected">
                                      {{ currentZoomValue || 'Select background' }}
                                    </div>
                                  
                                    <span class="photo-dropdown__icon">
                                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path 
                                          d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192
                                             c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7
                                             86.6 169.4c-12.5-12.5-32.8-12.5-45.3
                                             0s-12.5 32.8 0 45.3l192 192z" />
                                      </svg>
                                    </span>
                                  
                                    <ul class="photo-dropdown__menu" *ngIf="isOpen">
                                      <li 
                                        *ngFor="let option of zoomOptions" 
                                        (click)="handleZoomSelection(option, $event)"
                                        [class.selected]="option.label === currentZoomValue">
                                        {{ option.label }}
                                      </li>
                                    </ul>
                                </div>
                                <div class="photos_toolbar_icon" (click)="zoomOut()">
                                    <img [src]="zoomOutImg"/>
                                </div>
                                <input type="range" min="25" max="400" value="80"  (input)="onZoomSliderChange($event)">
                                <div class="photos_toolbar_icon" (click)="zoomIn()">
                                    <img [src]="zoomInImg"/>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div> 
            </div>
        </ng-template>
    </div>
</cos-window>