 <main class="main-desktop" id="vanta"  
    (contextmenu)="showDesktopContextMenu($event)" 
    (click)="hideDesktopContextMenuAndOthers(name)"
    (mousemove)="performTasks($event)"  #desktopContainer> 

    <ol class="dsktp-ol" (dragover)="onDragOver($event)" (drop)="onDrop($event)" (click)="hideIconContextMenu(name)"  (click)="handleIconHighLightState()"
        (mousedown)="activateMultiSelect($event)"
        (mouseup)="deActivateMultiSelect()"
        (mousemove)="updateDivWithAndSize($event)" id="dsktpmngr_ol"> 
        <li class="dsktp-li" *ngFor="let file of files; let i = index" id="dsktpmngr_li{{i}}">
            <button class="dsktp-btn-icon-cntnr" 
            (dblclick)="runProcess(file)" 
            (mouseenter)="onMouseEnter(i)" 
            (mouseleave)="onMouseLeave(i)"  
            zIndex="1"  
            (contextmenu)="onShowDesktopIconCntxtMenu($event, file, i)" 
            (click)="onBtnClick($event, i)"
            (dragstart)="onDragStart($event, i)"
            (dragend)="onDragEnd($event)"
            id="iconBtn{{i}}"  [style]="btnStyle">
                <div class="dsktp-icon-cntnr"  id="dsktpmngr_fig{{i}}">
                    <div class="dsktp-main-icon-section">
                        <img class="dsktp-img" [src]="file.getIconPath | safeResourceUrl" [alt]="file.getFileName"  [style]="iconSizeStyle"/>
                    </div>
                    <div class="dsktp-scut-icon-section" *ngIf="file.getIsShortCut">
                        <img class="shortcut-img" [src]="shortCutImg"  id="shortCut{{i}}" [style]="shortCutIconSizeStyle"/>
                    </div>
                </div>
                <div class="dsktp-label">
                    <p class="dsktp-figcaption"  id="figCap{{i}}">
                            {{file.getFileName}}
                    </p>
                    <div class="dsktp-icon-rename-cntnr"  id="renameContainer{{i}}">
                        <form [formGroup]="renameForm"  class="dsktp-icon-form-section" (ngSubmit)="isFormDirty()">
                            <textarea class="dsktp-input"  formControlName="renameInput"  (keydown)="onInputChange($event)" autofocus spellcheck="false" id="renameTxtBox{{i}}"></textarea>
                        </form>
                    </div>
                </div>                
            </button>
        </li>

        <ng-container  *ngIf="showDesktopIconCntxtMenu">
            <cos-menu [generalMenu]="menuData" [style]="iconCntxtMenuStyle" [menuType]="dsktpMngrMenuOption" [menuOrder]="menuOrder"> </cos-menu>
        </ng-container>

        <ng-container *ngIf="showDesktopCntxtMenu">
            <cos-menu [nestedMenu]="deskTopMenu"  [style]="dskTopCntxtMenuStyle" [menuType]="deskTopMenuOption"> </cos-menu>
        </ng-container>

        <ng-container *ngIf="showTskBarPreviewWindow" >
            <cos-taskbarpreview  [fadeState]="tskBarPreviewWindowState" [name]="appToPreview" [icon]="appToPreviewIcon"  [style]="tskBarPrevWindowStyle">  </cos-taskbarpreview>
        </ng-container>

        <ng-container  *ngIf="showTskBarAppIconMenu" >
            <cos-menu [generalMenu]="taskBarAppIconMenuData" [style]="tskBarAppIconMenuStyle" [menuType]="tskBarAppIconMenuOption"> </cos-menu>
        </ng-container>

        <ng-container  *ngIf="showTskBarCntxtMenu">
            <cos-menu [generalMenu]="taskBarContextMenuData"  [style]="tskBarCntxtMenuStyle" [menuType]="tskBarContextMenuOption"> </cos-menu>
        </ng-container>

        @if(showVolumeControl){
            <cos-volumecontrol></cos-volumecontrol>
        }
        
        @if(showDesktopScreenShotPreview){
            <div [@slideStatusAnimation]="slideState" class="dsktp-screen-preview-container" >
                <img [src]="dsktpPrevImg"/>
            </div>
        }

        @if(showTaskBarIconToolTip){
            <div class="tskbar-tooltip-container" [style]="tskBarToolTipStyle" >
                <p class="tskbar-tooltip-txt"> {{tskBarToolTipText}}</p>
            </div>
        }
    
        <div #selectPaneContainer id="dskTopMultiSelectPane"></div>

        <div class="tool-tip-container" id="invalidChars">
            <div class="tool-tip-arrow"> </div>
            <div class="tool-tip-base"> A file name can't contain any of the following characters: <br /><br />
                \ / : * ? " < > |' 
            </div>
        </div>

        <div  class="dsktp-clone-container"  id="dsktpmngr_clone_cntnr"> </div>

        <ng-content> </ng-content>

        <cos-taskbar> 
            <cos-startbutton></cos-startbutton>
            <cos-search></cos-search>
            <cos-taskbarentries> </cos-taskbarentries>
            <cos-systemtray></cos-systemtray>
        </cos-taskbar>

        @if(showStartMenu){
            <!-- <cos-startmenu [@slideStartMenuAnimation]></cos-startmenu> -->
            <cos-startmenu ></cos-startmenu>
        }
    </ol>
</main>