 <main class="main-desktop" id="vanta"  (contextmenu)="showDesktopContextMenu($event)" (click)="hideContextMenu(name)" #desktopContainer> 

    @if(showDesktopScreenShotPreview){
        <div [@slideStatusAnimation]="slideState" class="dsktp-screen-preview-container" >
            <img [src]="dsktpPrevImg"/>
        </div>
    }
    
    <cos-menu [nestedMenu]="deskTopMenu" *ngIf="showDesktopCntxtMenu" [style]="dskTopCntxtMenuStyle" [menuType]="deskTopMenuOption"> </cos-menu>
    <cos-taskbarpreview  [fadeState]="tskBarPreviewWindowState" [name]="appToPreview" [icon]="appToPreviewIcon" *ngIf="showTskBarPreviewWindow"  [ngStyle]="tskBarPrevWindowStyle">  </cos-taskbarpreview>
    <cos-menu [generalMenu]="taskBarAppIconMenuData" *ngIf="showTskBarAppIconMenu" [style]="tskBarAppIconMenuStyle" [menuType]="tskBarAppIconMenuOption" [menuOrder]="menuOrder"> </cos-menu>
    <cos-menu [generalMenu]="taskBarContextMenuData" *ngIf="showTskBarCntxtMenu" [style]="tskBarCntxtMenuStyle" [menuType]="tskBarAppIconMenuOption" [menuOrder]="menuOrder"> </cos-menu>
    
    @if(showStartMenu){
        <cos-startmenu [@slideStartMenuAnimation]></cos-startmenu>
    }
    <ng-content> </ng-content>
</main>