<cos-primarywindow 
    [runningProcessID]="processId" 
    [processAppIcon]="icon" 
    [processAppName]="displayName" 
    [isMaximizable]="isMaximizable" 
    [minimumWindowWidth]="MIN_WIDTH_PX" 
    [minimumWindowHeight]="MIN_HEIGHT_PX"
    [priorUId]="priorUId">
    <div  class="markdown-main-container" #markDownContent (click)="focusWindow($event)"
     (contextmenu)="silenceCtxEvt($event)"> 
        <div class="markdown-content"  [innerHTML]="mkdDwnHtml" >  </div>
    </div>
</cos-primarywindow>
