<cos-window [runningProcessID]="this.processId" [processAppIcon]="this.icon" [processAppName]="this.name" [isMaximizable]="this.isMaximizable" [priorUId]="this.priorUId">
    <div class="pdf-viewer-main-cntnr"  (click)="focusWindow($event)">
        <div class="pdf-viewer-cntnr">
            <canvas id="pdf-canvas-{{processId}}"></canvas>
        </div>
        <div class="pdf-viewer-cntrl">
            <div class="section">
                <button class="nav-btn" (click)="onPrevPage()">Prev</button>
            </div>
            <div class="section">
                <button class="nav-btn" (click)="onNextPage()">Next</button>
            </div>

            <div class="section">
                <button class="nav-btn2" (click)="zoomOut()">-</button>
            </div>
            <div class="section">
                <button class="nav-btn2" (click)="zoomIn()">+</button>
            </div>
            <div class="section page-label">
                Page: {{pageNum}} / {{pageCount}}
            </div>
        </div>
    </div>
</cos-window>
