<cos-primarywindow 
[runningProcessID]="processId" 
[processAppIcon]="icon" 
[processAppName]="name" 
[isMaximizable]="isMaximizable" 
[minimumWindowWidth]="MIN_WIDTH_PX" 
[minimumWindowHeight]="MIN_HEIGHT_PX"
[priorUId]="priorUId">
    <div class="pdf-viewer-main-cntnr"  (click)="focusWindow($event)"
     (contextmenu)="silenceCtxEvt($event)">
        <div class="pdf-viewer-cntnr">
            <canvas id="pdf-canvas-{{processId}}"></canvas>
        </div>
        <div class="pdf-viewer-cntrl">
            <div class="section">
                <button class="nav-btn" (click)="onPrevPage()">Prev</button>
            </div>
            <div class="section">
                <button class="nav-btn" (click)="onNextPage()">Next</button>
            </div>

            <div class="section">
                <button class="nav-btn2" (click)="zoomOut()">-</button>
            </div>
            <div class="section">
                <button class="nav-btn2" (click)="zoomIn()">+</button>
            </div>
            <div class="section page-label">
                Page: {{pageNum}} / {{pageCount}}
            </div>
        </div>
    </div>
</cos-primarywindow>
