
<div
    #secondaryWindowContainer class="window-container  window-dd-box"
        [ngStyle]="currentWinStyles"   
        tabindex="0" 
        cdkDrag
        [cdkDragBoundary]="'#vantaCntnr'"
        (mousedown)="onMouseDown(this.processId)"
        (cdkDragEnded)="onDragEnded($event)"
        id="secWinCmpnt-{{uniqueId}}">

    <div class="header-container"
        appHighlight
        [ngStyle]="headerActiveStyles">
        <div class="left-header-section" cdkDragHandle>
         <!--<tabindex="0"-->
            <h1>
                <figure>
                    @if(!isDialogContent || (isDialogContent && showTitleBarIcon)){<img [src]="this.icon" [alt]="this.name" title="Icon" role="img"/>}
                    @if(isDialogContent && !showTitleBarIcon){<p class="img-padding"> </p>}
                    <figcaption> {{this.displayName}} </figcaption>
                </figure>
            </h1>
        </div>
        <div class="right-header-section">
            <nav>
                <button [ngStyle]="closeBtnStyles" id="closeBtn" appHighlight (click)="onCloseBtnClick($event)"  title="Close" >
                    <svg width="10" viewBox="0 0 10 10">
                        <path d="M10.2.7L9.5 0 5.1 4.4.7 0 0 .7l4.4 4.4L0 9.5l.7.7 4.4-4.4 4.4 4.4.7-.7-4.4-4.4z" fill = "#000000"/>
                    </svg>
                </button>
            </nav>
        </div>
    </div>
     <!--<tabindex="0"-->
    <div  class="window-content-container" (mousemove)="resetLockScreenTimeOut()">
        <ng-content> </ng-content>
    </div>
</div> 

<div #secGlassPaneContainer></div>
