<cos-window [runningProcessID]="this.processId" [processAppIcon]="this.icon" [processAppName]="this.name" [isMaximizable]="this.isMaximizable" (click)="setChatterWindowToFocus(this.processId)">
    <div class="chatter-main-container" #chatterContainer>
      <div class="chatter-content-container">

        <div class="chatter-sidebar-container">
          <div class="chatter-sidebar-content" (click)="1" (mouseenter)="1" (mouseleave)="1">
            <div class="chatter-sidebar-icon">
                <figure class="chatter-sidebar-figure">
                    <img class="chatter-sidebar-img" [src]="'osdrive/Cheetah/System/Imageres/chatter_2.png'"/>
                </figure>
            </div>
          </div>
        </div>

        <div class="chatter-chat-container">
          <div class="chatter-user-info-container">
            <div class="chatter-user-info-content" >
              <span class="span chatter-head"> 
                <div class="chatter-user-acronym"> HW </div>
              </span>
              <!-- 
              this div will contain the textbox, that allows the user to change name. show onClick, hide onClickAway
              <div></div> -->
              <span class="span chatter-mid"> Hello, World </span>
            </div>

          </div>
          <div class="chatter-chat-window-content"  #chatHistoryOutput>
            
            <!-- *ngFor="let msg of chatHistory" -->
            <ng-container > 
              <div class="chatter-chat-output-content">
                <span class="span chatter-head"> 
                  <div class="chatter-user-acronym"> HW </div>
                </span>

                <div class="chat-user-txt-container">
                  <div class="chat-username-and-date">
                    <span  class="chat-username">hello world</span>
                    <span  class= "chat-date">02/14/2025</span>
                  </div>
                  <span  class="chat-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled 
                    it to make a type specimen book. It has survived not only five centuries, 
                    but also the leap into electronic typesetting, remaining essentially unchanged.
                  </span>
                </div>
              </div>
            </ng-container>
          </div>

          <div class="chatter-chat-texbox-container">
            <div class="chatter-chat-texbox">
              <form [formGroup]="chatterForm"  class="chatter-form">
                <textarea
                  appKeyPressCapture
                  class="chatter-area"
                  formControlName="msgText"
                  placeholder="{{chatPrompt}}"
                  (keydown)="onKeyDownInInputBox($event)"
                  autofocus="true"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off"
                  id="chatterMsgBox"
                  rows="2">
                </textarea>
              </form>
            </div>
            <div class="chatter-chat-send">
              <div class="chatter-send-msg-content" (click)="1" (mouseenter)="1" (mouseleave)="1">
                <div class="chatter-send-msg-icon">
                    <figure class="chatter-send-msg-figure">
                        <img class="chatter-send-msg-img" [src]="'osdrive/Cheetah/System/Imageres/send_msg.png'"/>
                    </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
</cos-window>