    .chatter-main-container {
        width: 480px;
        height: 100%;
        /* background: #7b69f0; */
        background: #ccc;
    }

    .chatter-content-container{
        width: 100%;
        display: flex;
        background-color: #202020;
    }

    .chatter-sidebar-container{
        width: 50px;
        background-color: #000;
        border-right: 1px solid #a6a4a4;
    }

    .chatter-sidebar-content{ 
        width: 100%;
        height: 50px;
    }

    .chatter-sidebar-icon{
        width: 48px;
        padding: 4px 4px;
        border: 2px solid transparent;
    }

    .chatter-sidebar-figure{
        display: flex;
        align-items: center;
        height: 24px;
    }

    .chatter-sidebar-img{
        position: relative;
        height: 24px;
        width: 24px;    
    }

    .chatter-chat-container{
        width: 430px;
        /* height:fit-content; */
    }

    .chatter-user-info-container{
        width: 100%;
        display: flex;
        height: 50px;
        padding: 5px 0px;
        background-color: #201c1c;
        border-bottom:  1px solid #a6a4a4;
    }

    .chatter-user-info-content{
        height: fit-content;
        padding: 5px 5px;
        background-color: #201c1c;
        display: inline-flex;
        width: 100%;
    }

    span{
        display: block;
    }

    span.chatter-head{
        padding:5px 5px;
    }

    span.chatter-mid{
        padding: 0 4px;
        color: white; /* Black text color */
        text-align: left;
        font-size: 20px;
        font-weight: bold;
    }

    .chatter-user-acronym{
        position: relative;
        align-items: center;
        display: inline-flex;
        width: 36px;
        top: -2px;
        border-radius:40%;
        padding: 1px 5px;
        font-weight: 500;
        background-color: cadetblue;
    }

    .chatter-chat-window-content{
        width: 100%;
        height: 500px;
        overflow-y: auto;
        background-color: #201c1c;
    }
    .chatter-chat-texbox-container{
        width: 100%;
        display: flex;
        height: 70px; /*to is to allow me pad top and bottom 10px each*/
        padding: 10px 5px;
        border-top: 1px solid #a6a4a4;
        background-color: #201c1c;
    }
    .chatter-chat-texbox{
        width: 90%;
        height: 50px;
    }
    .chatter-chat-send{
        width: 10%;
        height: 50px;
    }

    .chatter-form{
        display:flex;
        width: 100%;
        border-radius:5px;
        background-color: #302c2c;
    }
  
    /* .chatter-input-area {
        bottom: 0;
        left: 4px;
        padding-top:4px;
        position: fixed;
        display: inline-flex;
        width: 100%;
        height: 100%;
        align-items: center;
    } */

    .chatter-input {
        position: relative;
        left: 1.5%;
        font-family: monospace;
        font-weight: normal;
        font-size: normal;
        color: #ccc;
        background: transparent;
        border: 0px;
        outline: none; /* no highlight on focus */
        width: 99%;
        height: 50px;
        word-wrap: break-word;
        word-break: break-all;
    }

    .chatter-msg {
        position: relative;
        color: #ccc;
        font-family: monospace;
        font-weight: bold;
        display: flex;
        top: -2px;
        left: 0.75%;
        width: 100%;
    }

    .prev-chatter-msg {
        position: relative;
        color: #ccc;
        font-family: monospace;
        font-weight: bold;
        margin-bottom: 3px;
    }

    .prev-chatter-output {
        margin-top: 3px;
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        color: #ccc;
        font-family: monospace;
        font-weight: bold;
        white-space: pre;
    }
      
    .chatter-heading::before {
        margin-right: 5px;
        content: '-- '
    }
