span {
    display: block;
}

.chatter-heading::before {
    margin-right: 5px;
    content: '-- ';
}

/* Main Container */
.chatter-main-container {
    width: 500px;
    height: 100%;
    background: #ccc;
}

/* Content Layout */
.chatter-content-container {
    width: 100%;
    display: flex;
    background-color: #202020;
}

/* Sidebar Styles */
.chatter-sidebar-container {
    width: 50px;
    background-color: #000;
    border-right: 1px solid #a6a4a4;
}

.chatter-sidebar-content {
    width: 100%;
    height: 50px;
}

.chatter-sidebar-icon {
    position: relative;
    width: 48px;
    padding: 4px;
    border: 2px solid transparent;
    top: 4px;
}

.chatter-sidebar-figure {
    display: flex;
    align-items: center;
    height: 24px;
    padding-left: 4px;
}

.chatter-sidebar-img {
    position: relative;
    height: 24px;
    width: 24px;
}

/* Chat Container */
.chatter-chat-container {
    width: 450px;
}

/* User Info Section */
.chatter-user-info-container {
    width: 100%;
    display: flex;
    height: 58px;
    padding: 5px 0;
    background-color: #201c1c;
    border-bottom: 1px solid #a6a4a4;
}

.chatter-user-info-content {
    height: fit-content;
    padding: 5px;
    background-color: #201c1c;
    display: inline-flex;
    width: 100%;
}

.chatter-user-acronym {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-weight: 500;
    background-color: cadetblue;
    color: white;
}

span.chatter-head {
    padding: 0 5px;
}

span.chatter-mid {
    padding: 0 4px;
}

.user-name-bold {
    position: relative;
    color: white;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    top: 6px;
}


/* Chat Window */
.chatter-chat-window-content {
    width: 100%;
    height: 500px;
    overflow-y: auto;
    background-color: #201c1c;
    padding: 8px 12px;
}

/* Chat Messages */
.chatter-chat-output-content {
    display: flex;
}

.chat-user-txt-container {
    position: relative;
    width: auto;
    min-width: 150px;
    max-width: 360px;
    height: fit-content;
    padding-left: 4px;
    top: 6px;
}

.chat-username-and-date {
    display: flex;
    padding: 3px 0;
}

.chat-username {
    font-family: monospace;
    font-weight: bold;
    font-size: 11.5px;
    color: #fff;
    padding-right: 12px;
}

.chat-date {
    font-family: monospace;
    font-weight: 200;
    font-size: 11px;
    color: #fff;
}

.chat-content {
    font-family: monospace;
    font-size: 12px;
    color: #848ada;
    padding: 1px 2px;
    outline: none;
    min-height: 50px;
    max-height: 250px;
    min-width: 150px;
    max-width: 360px;
    resize: none;
    overflow-y: auto;
    text-align: left;
    line-height: 1.5;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid #302c2c;
    background-color: #302c2c;
    border-radius: 3px;
}

/* Chat Input Section */

.chatter-chat-texbox-container {
    width: 100%;
    display: flex;
    height: 70px; /* Allows for padding */
    padding: 10px 5px;
    border-top: 1px solid #a6a4a4;
    background-color: #201c1c;
}

.chatter-chat-texbox {
    width: 90%;
    height: 50px;
}

.chatter-chat-send {
    width: 10%;
    height: 50px;
}

.chatter-form {
    display: flex;
    width: 100%;
    border-radius: 5px;
    background-color: #302c2c;
    border-bottom: 1.5px solid #ccc;
}


/* Textarea for Chat Input */
.chatter-area {
    position: relative;
    left: 1.5%;
    font-family: monospace;
    color: #ccc;
    background: transparent;
    border: 0;
    outline: none;
    width: 99%;
    height: 50px;
    resize: none;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.5;
}

/* Send Message Button */
.chatter-send-msg-content {
    position: relative;
    width: 92%;
    height: 50px;
    border-radius: 5px;
    left: 4px;
}

.chatter-send-msg-icon {
    position: relative;
    width: 24px;
    padding: 4px 0 4px 2px;
    border: 2px solid transparent;
    top: 6px;
}

.chatter-send-msg-figure {
    display: flex;
    align-items: center;
    height: 24px;
    width: fit-content;
    padding-left: 4px;
}

.chatter-send-msg-img {
    position: relative;
    height: 24px;
    width: 24px;
}

/* Previous Messages & Output Styles */

.chatter-msg {
    position: relative;
    color: #ccc;
    font-family: monospace;
    font-weight: bold;
    display: flex;
    top: -2px;
    left: 0.75%;
    width: 100%;
}

.prev-chatter-msg {
    position: relative;
    color: #ccc;
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 3px;
}

.prev-chatter-output {
    margin-top: 3px;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    color: #ccc;
    font-family: monospace;
    font-weight: bold;
    white-space: pre;
}
