<cos-window [runningProcessID]="this.processId" [processAppIcon]="this.icon" [processAppName]="this.name"  (click)="setChatterWindowToFocus(this.processId)">
    <div class="chatter-main-container" #chatterContainer>
      <div class="chatter-content-container">

        <div class="chatter-sidebar-container">
          <div class="chatter-sidebar-content" (click)="1" (mouseenter)="1" (mouseleave)="1">
            <div class="chatter-sidebar-icon">
                <figure class="chatter-sidebar-figure">
                    <img class="chatter-sidebar-img" [src]="'osdrive/Cheetah/System/Imageres/chatter_2.png'"/>
                </figure>
            </div>
          </div>
        </div>

        <div class="chatter-chat-container">
          <div class="chatter-user-info-container">
            <div class="chatter-user-info-content" >
              <span class="span chatter-head"> 
                <div class="chatter-user-acronym"> HW </div>
              </span>
              <!-- 
              this div will contain the textbox, that allows the user to change name. show onClick, hide onClickAway
              <div></div> -->
              <span class="span chatter-mid"> Hello, World </span>
            </div>

          </div>
          <div class="chatter-chat-window-content">

          </div>

          <div class="chatter-chat-texbox-container">
            <div class="chatter-chat-texbox"> </div>
            <div class="chatter-chat-send"></div>
          </div>
        </div>
      </div>      
    </div>
</cos-window>
